<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AdminProduct">
	<resultMap id="TimestampResultMap" type="java.util.HashMap">
	    	<result property="created_at" column="created_at" javaType="java.sql.Timestamp" />
	    	<result property="updated_at" column="updated_at" javaType="java.sql.Timestamp" />
	    	<result property="end_date" column="end_date" javaType="java.sql.Timestamp" />
	    	<result property="start_date" column="start_date" javaType="java.sql.Timestamp" />
	    	<result property="open_date" column="open_date" javaType="java.sql.Timestamp" />
	    	
	</resultMap>
	
	<!-- 팝업 테스트 공지사항 가저오기 -->
	<select id="getDescription" parameterType="int" resultType="String">
		select event_popup_content from event_popup
		where application_seq = #{application_seq}
	</select>
	
	
	
	<select id="getCurrentProductsByCategory" resultMap="TimestampResultMap">
		select apply.* , 
	CAST(apply.created_at AS TIMESTAMP) AS created_at,
	CAST(apply.end_date AS TIMESTAMP) AS end_date,
	CAST(apply.start_date AS TIMESTAMP) AS start_date,
	CAST(apply.open_date AS TIMESTAMP) AS open_date,
	CAST(apply.updated_at AS TIMESTAMP) AS updated_at,
	sub_category.*, 
	files.*,
	PLACE.*
	from apply
	join sub_category on apply.sub_category_seq = sub_category.sub_category_seq
	join place on apply.place_seq = place.place_seq
	join files on apply.application_seq = files.files_parent_seq
	where apply.status = '승인 완료' and files.files_type='poster'
	and sub_category.sub_category_seq = #{category}
	and CURRENT_DATE BETWEEN apply.open_date and apply.end_date
	order by apply.created_at desc
	</select>
	<select id="getFutureProductsByCategory" resultMap="TimestampResultMap">
		 select apply.* , 
	CAST(apply.created_at AS TIMESTAMP) AS created_at,
	CAST(apply.end_date AS TIMESTAMP) AS end_date,
	CAST(apply.start_date AS TIMESTAMP) AS start_date,
	CAST(apply.open_date AS TIMESTAMP) AS open_date,
	CAST(apply.updated_at AS TIMESTAMP) AS updated_at,
	sub_category.*, 
	files.*,
	PLACE.*
	from apply
	join sub_category on apply.sub_category_seq = sub_category.sub_category_seq
	join place on apply.place_seq = place.place_seq
	join files on apply.application_seq = files.files_parent_seq
	where apply.status = '승인 완료' and files.files_type='poster'
	and sub_category.sub_category_seq = #{category}
	and apply.open_date <![CDATA[>]]> CURRENT_DATE
	order by apply.created_at desc
	</select>
	<select id="getPastProductsByCategory" resultMap="TimestampResultMap">
		 select apply.* , 
	CAST(apply.created_at AS TIMESTAMP) AS created_at,
	CAST(apply.end_date AS TIMESTAMP) AS end_date,
	CAST(apply.start_date AS TIMESTAMP) AS start_date,
	CAST(apply.open_date AS TIMESTAMP) AS open_date,
	CAST(apply.updated_at AS TIMESTAMP) AS updated_at,
	sub_category.*, 
	files.*,
	PLACE.*
	from apply
	join sub_category on apply.sub_category_seq = sub_category.sub_category_seq
	join place on apply.place_seq = place.place_seq
	left join files on apply.application_seq = files.files_parent_seq
	where apply.status = '승인 완료' 
	and sub_category.sub_category_seq = #{category}
	and apply.end_date <![CDATA[<]]> CURRENT_DATE
	order by apply.created_at desc
	</select>
	<select id="getCountCurrent" resultType="int">
		SELECT COUNT(*)
		FROM apply
		where status = '승인 완료' 
	and sub_category_seq = #{category}
	and CURRENT_DATE BETWEEN open_date and end_date
	order by apply.created_at desc
	</select>
		<select id="getCountFuture" resultType="int">
		SELECT COUNT(*)
		FROM apply
		where status = '승인 완료' 
	and sub_category_seq = #{category}
	and open_date <![CDATA[>]]> CURRENT_DATE
	</select>
		<select id="getCountPast" resultType="int">
		SELECT COUNT(*)
		FROM apply
		where status = '승인 완료' 
	and sub_category_seq = #{category}
	and end_date <![CDATA[<]]> CURRENT_DATE
	</select>
	
	
	<!-- Sale  -->
	<select id="getCountSaleWaiting" resultType="int">
		SELECT COUNT(DISTINCT apply.application_seq)
		FROM apply
		JOIN sale ON sale.application_seq = apply.application_seq
		WHERE sub_category_seq = #{category}
		and sale.sale_approved = '승인 대기'
	</select>
	<select id="getCountSaleResult" resultType="int">
		SELECT COUNT(DISTINCT apply.application_seq)
		FROM apply
		JOIN sale ON sale.application_seq = apply.application_seq
		WHERE sub_category_seq = #{category}
		and sale.sale_approved = '승인 완료'
	</select>
	<select id="getWaitingSaleByCategory" resultMap="TimestampResultMap">
	WITH RankedSales AS (
	    SELECT apply.*,  apply.name AS apply_name, sale.sale_rate, files.*, company.name AS company_name,
	           ROW_NUMBER() OVER (PARTITION BY apply.application_seq ORDER BY sale.sale_rate) AS rn
	    FROM apply
	    JOIN files ON files.files_parent_seq = apply.application_seq
	    JOIN sale ON apply.application_seq = sale.application_seq
	    JOIN company ON company.member_id = apply.id
	    WHERE sale.sale_approved LIKE '%대기%'
	    AND apply.sub_category_seq = #{category}
	)
	SELECT *
	FROM RankedSales
	WHERE rn =#{category}
	</select>
	<select id="getResultSaleByCategory" resultMap="TimestampResultMap">
		 WITH RankedSales AS (
		    SELECT apply.*,  apply.name AS apply_name, SALE.SALE_APPROVED, sale.sale_rate, files.*, company.name AS company_name,
		           ROW_NUMBER() OVER (PARTITION BY apply.application_seq ORDER BY sale.sale_rate) AS rn
		    FROM apply
		    JOIN sale ON apply.application_seq = sale.application_seq
		    JOIN files ON files.files_parent_seq = apply.application_seq
		    JOIN company ON company.member_id = apply.id
		    WHERE sale.sale_approved NOT LIKE '%대기%'
		      AND sale.sale_approved NOT LIKE '%취소%'
		      AND apply.sub_category_seq = #{category}
		)
		SELECT *
		FROM RankedSales
		WHERE rn = #{category}
	</select>
	<select id="getSaleDetail" resultMap="TimestampResultMap">
		SELECT * FROM APPLY
		JOIN sale on sale.application_seq  = apply.application_seq
		JOIN files on files.files_parent_seq = apply.application_seq
		WHERE apply.application_seq = #{application_seq}
	</select>
	
	<update id="approveSale">
	    UPDATE sale
	    SET sale_approved = '승인 완료'
	    WHERE application_seq = #{applicationSeq}
	</update>
	
	
	
	
	<!-- Product -->	
	<select id="getCountProductsWaiting" resultType="int">
		select count(*) from apply 
	    join sub_category 
	    on apply.sub_category_seq = sub_category.sub_category_seq
	    where apply.status like '%대기%'
	    and sub_category.sub_category_seq = #{category}
	</select>
	<select id="getCountProductsResult" resultType="int">
		select count(*) from apply 
	    join sub_category 
	    on apply.sub_category_seq = sub_category.sub_category_seq
	    where apply.status not like '%대기%'
	    and sub_category.sub_category_seq = #{category}
	    AND apply.updated_at >= ADD_MONTHS(SYSDATE, -3)
	</select>
	
	
	<select id="getWaitingProductsByCategory" resultMap="TimestampResultMap">
	 SELECT apply.*, files.files_sysname , COMPANY.NAME AS company_name
		 FROM APPLY
 		join files on files.files_parent_seq = apply.application_seq
         JOIN company ON company.member_id = apply.id
		WHERE apply.status like '%대기%'
        and files.files_type = 'poster'
		and apply.sub_category_seq = #{category}
	</select>
	<select id="getResultProductsByCategory" resultMap="TimestampResultMap">
		SELECT apply.*, files.files_sysname , COMPANY.NAME AS company_name
		 FROM APPLY
		join files on files.files_parent_seq = apply.application_seq
		JOIN company ON company.member_id = apply.id
		WHERE apply.status not like '%대기%'
		AND apply.status != '취소'
		and files.files_type = 'poster'
		AND APPLY.sub_category_seq = #{category}
		 AND APPLY.updated_at >= ADD_MONTHS(SYSDATE, -3)
	</select>
	
	
	<select id="getProductDetails" resultMap="TimestampResultMap">
		 SELECT * FROM APPLY
        join files on files.files_parent_seq = apply.application_seq
        join place on place.place_seq = apply.place_seq
        join sub_category on sub_category.sub_category_seq = apply.sub_category_seq
		WHERE application_seq = #{application_seq}
	</select>
	
	<update id="approveProduct">
	    UPDATE apply
	    SET status = '승인 완료', 
	    updated_at = sysdate
	    WHERE application_seq = #{applicationSeq}
	</update>
	<update id="rejectProduct">
	    UPDATE apply
	    SET status = '승인 반려',
	        reject_reason = #{rejectReason},
	        updated_at = sysdate
	    WHERE application_seq = #{applicationSeq}
	</update>
	
	<update id="rejectSale">
	    UPDATE sale
	    SET sale_approved = '승인 반려',
	        reject_reason = #{rejectReason}
	    WHERE application_seq = #{applicationSeq}
	</update>
	
	
</mapper>