<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AdminOrder">
<resultMap id="TimestampResultMap" type="java.util.HashMap">
    	<result property="join_date" column="join_date" javaType="java.sql.Timestamp" />
    	<result property="order_date" column="order_date" javaType="java.sql.Timestamp" />
</resultMap>
<select id="getAllOrders" resultMap="TimestampResultMap">
    select 
 CAST(orders.order_date AS TIMESTAMP) AS order_date,
 CAST(members.join_date AS TIMESTAMP) AS join_date, 
 members.name, apply.name as apply_name, apply.sub_category_seq, 
 orders.delivery_status, orders.total_price, orders.status,
 members.id, orders.order_seq
from orders 
join members on members.id = orders.member_id
join apply on apply.application_seq = orders.application_seq
join book on orders.order_seq = book.order_seq
GROUP BY orders.ORDER_SEQ, members.name, orders.order_date, 
members.join_date, orders.delivery_status, orders.total_price,
 members.id, orders.order_seq, 
orders.status, apply.name, apply.sub_category_seq
</select>

<update id="updateOrderStatusSingle">
    UPDATE orders
    SET delivery_status = #{newStatus}
    WHERE order_seq = #{orderSeq}
</update>
</mapper>