<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AdminBizMem">
	<resultMap id="memberResultMap" type="java.util.HashMap">
    	<result property="JOIN_DATE" column="join_date" javaType="java.sql.Timestamp" />    	
	</resultMap>
	<select id="getAllBizMem" resultMap="memberResultMap">
		select * from members left join company on members.id = company.member_id
	</select>
</mapper>