<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AdminUserMem">
	<resultMap id="memberResultMap" type="java.util.HashMap">
    	<result property="JOIN_DATE" column="join_date" javaType="java.sql.Timestamp" />    	
    	<result property="ISSUE_DATE" column="issue_date" javaType="java.sql.Timestamp" />    	
	</resultMap>
	<select id="getAllUserMem" resultMap="memberResultMap">
		select m.*, g.*, g.name as g_name
        from members m 
        left join grade g on m.grade_seq = g.seq
        where m.role = 'ROLE_USER'
        ORDER BY m.join_date desc
	</select> 
<select id="searchUserMem" resultMap="memberResultMap">
    SELECT m.name AS name, g.name AS grade, m.join_date, m.enabled, m.id
    FROM members m
    LEFT JOIN grade g ON m.grade_seq = g.seq
    WHERE m.role = 'ROLE_USER'
    <if test="keyword != null and keyword != ''">
        AND m.name LIKE '%' || #{keyword} || '%'
    </if>
    <if test="gradeSeq != null">
        AND m.grade_seq = #{gradeSeq}
    </if>
    ORDER BY m.join_date desc
</select>
<select id="getGrade" resultType="com.tap.grade.dto.GradeDTO">
    select * from grade order by grade_order
</select>


<update id="updateMemberStatus">
	update members set grade_seq = #{gradeSeq} , enabled = #{enabled}
    where id= #{orderSeq}
	</update>

</mapper>