<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Biz">
	<select id="getAllCategory" resultType="java.util.HashMap">
		select * from category
	</select>
	<select id="getAllSubCategory" resultType="java.util.HashMap">
		select * from sub_category
	</select>
	<select id="getAllGenre" resultType="java.util.HashMap">
		select * from genre
	</select>
	<select id="getAllTeam" resultType="java.util.HashMap">
		select * from team
	</select>
	<select id="getAllLocation" resultType="java.util.HashMap">
		select place.*, team.*
		from place
		left join team on place.place_seq = team.place_seq
		order by place.place_seq desc
	</select>
	<select id="getAllTeamLocation" resultType="java.util.HashMap">
		select place.*, team.* 
		from place
		join team on place.place_seq = team.place_seq
	</select>
	<select id="getAllSeats" resultType="java.util.HashMap">
		select * from seats join place on place.place_seq = seats.place_seq
	</select>
	
	<select id="getAllProduct" resultType="java.util.HashMap">
		select * from apply where status = 'approved'
	</select>
	<select id="getContent" resultType="com.tap.biz.dto.TestClobDTO">
		select * from description 
	</select>
	
	<insert id="createApply" parameterType="com.tap.biz.dto.BizApplyDTO">
  		<selectKey keyProperty="application_seq" resultType="int" order="BEFORE">
        	SELECT apply_seq.NEXTVAL FROM dual
    	</selectKey>
	    INSERT INTO apply (application_seq, id, name, place_seq, sub_category_seq, genre_seq, age_limit, 
	    start_date, end_date, running_time, running_intertime, open_date, status, created_at, updated_at, 
	    max_ticket, away_team_seq)
	    VALUES (#{application_seq}, #{id}, #{name}, #{place_seq}, #{sub_category_seq}, #{genre_seq},
	    #{age_limit}, #{start_date}, #{end_date}, #{running_time}, #{running_intertime}, 
	    #{open_date}, '승인 대기', sysdate, null, #{max_ticket}, #{away_team_seq})
	</insert>
	<insert id="createApplySchedule" parameterType="com.tap.biz.dto.TotalScheduleDTO">
		insert into schedule (schedule_seq, application_seq, schedule_day, schedule_time)
		values
		(schedule_seq.nextval, #{application_seq}, TO_DATE(#{schedule_day}, 'YYYY-MM-DD'), TO_DATE(#{schedule_time}, 'HH24:MI:SS'))
	</insert>
	<insert id="createApplyCasting" parameterType="com.tap.biz.dto.CastingDataDTO">
		insert into casting (casting_seq, application_seq, casting_name, casting_role, schedule_day, schedule_time, file_oriname, file_sysname)
		values
		(casting_seq.nextval, #{application_seq}, #{casting_name},#{casting_role},#{schedule_day}, TO_DATE(#{schedule_time}, 'HH24:MI:SS'), #{file_oriname}, #{file_sysname})
	</insert>
	<insert id="createApplyNotice" parameterType="map">
		 INSERT INTO event_popup 
        	VALUES (event_popup_seq.nextval, #{application_seq}, #{event_popup_content})
	</insert>
	<insert id="createApplyFilesMain" parameterType="map">
		 INSERT INTO files (files_seq, files_oriname, files_sysname, files_type, files_from, files_parent_seq)
        	VALUES (files_seq.nextval, #{files_oriname}, #{files_sysname}, 'poster','event', #{files_parent_seq})
	</insert>
	<insert id="createApplyDescription" parameterType="map">
		 INSERT INTO description (description_seq, application_seq, description_content)
        	VALUES (description_seq.nextval, #{application_seq}, #{detailed_description})
	</insert>
</mapper>