<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Biz">
	<select id="getAllCategory" resultType="java.util.HashMap">
		select * from category
	</select>
	<select id="getAllSubCategory" resultType="java.util.HashMap">
		select * from sub_category
	</select>
	<select id="getAllGenre" resultType="java.util.HashMap">
		select * from genre
	</select>
	<select id="getAllTeam" resultType="java.util.HashMap">
		select * from team
	</select>
	<select id="getAllLocation" resultType="java.util.HashMap">
		select place.*, team.*
		from place
		left join team on place.place_seq = team.place_seq
		where team.place_seq is null
		order by place.place_seq desc
	</select>
	<select id="getAllTeamLocation" resultType="java.util.HashMap">
		select place.*, team.* 
		from place
		join team on place.place_seq = team.place_seq
	</select>
	
	<select id="getAllProduct" resultType="java.util.HashMap">
		select * from apply where status = 'approved'
	</select>
	<select id="getContent" resultType="com.tap.biz.dto.TestClobDTO">
		select * from description 
	</select>
</mapper>