<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BizManage">
<resultMap id="TimestampResultMap" type="java.util.HashMap">
    	<result property="created_at" column="created_at" javaType="java.sql.Timestamp" />
    	<result property="updated_at" column="updated_at" javaType="java.sql.Timestamp" />
    	<result property="end_date" column="end_date" javaType="java.sql.Timestamp" />
    	<result property="start_date" column="start_date" javaType="java.sql.Timestamp" />
    	<result property="open_date" column="open_date" javaType="java.sql.Timestamp" />
    	
</resultMap>
<select id="getAllWaiting" resultMap="TimestampResultMap">
	 SELECT apply.*, 
           CAST(apply.created_at AS TIMESTAMP) AS created_at,
           CAST(apply.end_date AS TIMESTAMP) AS end_date,
           CAST(apply.start_date AS TIMESTAMP) AS start_date,
           CAST(apply.open_date AS TIMESTAMP) AS open_date,
           CAST(apply.updated_at AS TIMESTAMP) AS updated_at,
           sub_category.*, 
           files.*, 
           place.*
    FROM apply
    JOIN sub_category ON apply.sub_category_seq = sub_category.sub_category_seq
    JOIN place ON apply.place_seq = place.place_seq
    JOIN files ON apply.application_seq = files.files_parent_seq
    WHERE apply.status != '승인 완료' 
    AND apply.status !='승인 반려'
    	AND apply.status !='취소'
      AND files.files_type = 'poster'
      AND apply.id = #{id}
    ORDER BY apply.created_at DESC
</select>
<select id="getAllRecentApproved" resultMap="TimestampResultMap">
	select apply.* , 
	CAST(apply.created_at AS TIMESTAMP) AS created_at,
	CAST(apply.end_date AS TIMESTAMP) AS end_date,
	CAST(apply.start_date AS TIMESTAMP) AS start_date,
	CAST(apply.open_date AS TIMESTAMP) AS open_date,
	CAST(apply.updated_at AS TIMESTAMP) AS updated_at,
	sub_category.*, 
	files.*,
	PLACE.*
	from apply
	join sub_category on apply.sub_category_seq = sub_category.sub_category_seq
	join place on apply.place_seq = place.place_seq
	join files on apply.application_seq = files.files_parent_seq
	where apply.status = '승인 완료'  or apply.status='승인 반려'
	and files.files_type='poster'
	and apply.id = #{id}
	and apply.updated_at BETWEEN (CURRENT_DATE - INTERVAL '1' MONTH) AND CURRENT_DATE
	order by apply.created_at desc
</select>
<select id="getAllCurrentApproved" resultMap="TimestampResultMap">
		 WITH sale_ranked AS (
    SELECT sale.*, 
           ROW_NUMBER() OVER (PARTITION BY sale.application_seq ORDER BY sale.sale_seq) AS rn
    FROM sale
)
SELECT apply.*, 
       CAST(apply.created_at AS TIMESTAMP) AS created_at,
       CAST(apply.end_date AS TIMESTAMP) AS end_date,
       CAST(apply.start_date AS TIMESTAMP) AS start_date,
       CAST(apply.open_date AS TIMESTAMP) AS open_date,
       CAST(apply.updated_at AS TIMESTAMP) AS updated_at,
       sub_category.*, 
       files.*, 
       place.*,  sale_ranked.sale_approved
FROM apply
JOIN sub_category ON apply.sub_category_seq = sub_category.sub_category_seq
JOIN place ON apply.place_seq = place.place_seq
JOIN files ON apply.application_seq = files.files_parent_seq
LEFT JOIN sale_ranked ON sale_ranked.application_seq = apply.application_seq AND sale_ranked.rn = 1
WHERE apply.status = '승인 완료'
AND apply.id = #{id}
AND CURRENT_DATE BETWEEN apply.start_date AND apply.end_date
ORDER BY apply.created_at DESC
</select>
<select id="getAllFutureApproved" resultMap="TimestampResultMap">
	select apply.* , 
	CAST(apply.created_at AS TIMESTAMP) AS created_at,
	CAST(apply.end_date AS TIMESTAMP) AS end_date,
	CAST(apply.start_date AS TIMESTAMP) AS start_date,
	CAST(apply.open_date AS TIMESTAMP) AS open_date,
	CAST(apply.updated_at AS TIMESTAMP) AS updated_at,
	sub_category.*, 
	files.*,
	PLACE.*
	from apply
	join sub_category on apply.sub_category_seq = sub_category.sub_category_seq
	join place on apply.place_seq = place.place_seq
	join files on apply.application_seq = files.files_parent_seq
	where apply.status = '승인 완료' and files.files_type='poster'
	and apply.id = #{id}
	and apply.start_date <![CDATA[>]]> CURRENT_DATE
	order by apply.created_at desc
</select>
<select id="getAllPast" resultMap="TimestampResultMap">
	select apply.* , 
	CAST(apply.created_at AS TIMESTAMP) AS created_at,
	CAST(apply.end_date AS TIMESTAMP) AS end_date,
	CAST(apply.start_date AS TIMESTAMP) AS start_date,
	CAST(apply.open_date AS TIMESTAMP) AS open_date,
	CAST(apply.updated_at AS TIMESTAMP) AS updated_at,
	sub_category.*, 
	files.*,
	PLACE.*
	from apply
	join sub_category on apply.sub_category_seq = sub_category.sub_category_seq
	join place on apply.place_seq = place.place_seq
	join files on apply.application_seq = files.files_parent_seq
	where apply.status = '승인 완료' and files.files_type='poster'
	and apply.id = #{id}
	and apply.end_date <![CDATA[<]]> CURRENT_DATE
	order by apply.created_at desc
</select>
<select id="getAllPoster" resultType="java.util.HashMap">
select * from poster where 
</select>

<update id="cancelRegistration">
    UPDATE 
	    	apply 
	    SET 
	    	status = '취소'
	    WHERE application_seq = #{applicationSeq}
</update>

<select id="getAllSaleWaiting" resultMap="TimestampResultMap">
SELECT 
    a.application_seq, 
    a.id, 
    a.name, 
    a.place_seq, 
    a.start_date, 
    a.end_date, 
    MIN(s.sale_rate) AS sale_rate,
    s.sale_approved,
    p.place_name,
    MAX(s.sale_seq) AS sale_seq,
    f.files_sysname
FROM apply a
JOIN sale s 
    ON a.application_seq = s.application_seq
JOIN place p
    ON a.place_seq = p.place_seq
LEFT JOIN files f
    ON f.files_parent_seq = a.application_seq
    AND f.files_type = 'poster'
WHERE s.sale_approved = '승인 대기'
GROUP BY 
    a.application_seq, 
    a.id, 
    a.name, 
    a.place_seq, 
    a.start_date, 
    a.end_date, 
    s.sale_approved, 
    p.place_name, 
    f.files_sysname
ORDER BY MAX(s.sale_seq) DESC
</select>
<update id="cancelSaleRegistration">
    UPDATE 
	    	sale 
	    SET 
	    	sale_approved = '취소'
	    WHERE application_seq = #{applicationSeq}
</update>

<select id="getAllSaleRecentApproved" resultMap="TimestampResultMap">
SELECT 
    a.application_seq, 
    a.id, 
    a.name, 
    a.place_seq, 
    a.start_date, 
    a.end_date, 
    MIN(s.sale_rate) AS sale_rate,
    s.sale_approved,
    p.place_name,
    MAX(s.sale_seq) AS sale_seq,
    f.files_sysname
FROM apply a
JOIN sale s 
    ON a.application_seq = s.application_seq
JOIN place p
    ON a.place_seq = p.place_seq
LEFT JOIN files f
    ON f.files_parent_seq = a.application_seq
    AND f.files_type = 'poster'
WHERE s.sale_approved = '승인 완료'
GROUP BY 
    a.application_seq, 
    a.id, 
    a.name, 
    a.place_seq, 
    a.start_date, 
    a.end_date, 
    s.sale_approved, 
    p.place_name, 
    f.files_sysname
ORDER BY MAX(s.sale_seq) DESC
</select>
</mapper>