<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BizManage">
<resultMap id="TimestampResultMap" type="java.util.HashMap">
    	<result property="created_at" column="created_at" javaType="java.sql.Timestamp" />
    	<result property="updated_at" column="updated_at" javaType="java.sql.Timestamp" />
    	<result property="end_date" column="end_date" javaType="java.sql.Timestamp" />
    	<result property="start_date" column="start_date" javaType="java.sql.Timestamp" />
    	<result property="open_date" column="open_date" javaType="java.sql.Timestamp" />
    	
</resultMap>
<select id="getAllWaiting" resultMap="TimestampResultMap">
	 SELECT apply.*, 
           CAST(apply.created_at AS TIMESTAMP) AS created_at,
           CAST(apply.end_date AS TIMESTAMP) AS end_date,
           CAST(apply.start_date AS TIMESTAMP) AS start_date,
           CAST(apply.open_date AS TIMESTAMP) AS open_date,
           CAST(apply.updated_at AS TIMESTAMP) AS updated_at,
           sub_category.*, 
           files.*, 
           place.*
    FROM apply
    JOIN sub_category ON apply.sub_category_seq = sub_category.sub_category_seq
    JOIN place ON apply.place_seq = place.place_seq
    JOIN files ON apply.application_seq = files.files_parent_seq
    WHERE apply.status != '승인' 
      AND files.files_type = 'poster'
      AND apply.id = #{id}
    ORDER BY apply.created_at DESC
</select>
<select id="getAllRecentApproved" resultMap="TimestampResultMap">
	select apply.* , 
	CAST(apply.created_at AS TIMESTAMP) AS created_at,
	CAST(apply.end_date AS TIMESTAMP) AS end_date,
	CAST(apply.start_date AS TIMESTAMP) AS start_date,
	CAST(apply.open_date AS TIMESTAMP) AS open_date,
	CAST(apply.updated_at AS TIMESTAMP) AS updated_date,
	sub_category.*, 
	files.*,
	PLACE.*
	from apply
	join sub_category on apply.sub_category_seq = sub_category.sub_category_seq
	join place on apply.place_seq = place.place_seq
	join files on apply.application_seq = files.files_parent_seq
	where apply.status = '승인' and files.files_type='poster'
	and apply.id = #{id}
	and apply.updated_at BETWEEN (CURRENT_DATE - INTERVAL '1' MONTH) AND CURRENT_DATE
	order by apply.created_at desc
</select>
<select id="getAllCurrentApproved" resultMap="TimestampResultMap">
	select apply.* , 
	CAST(apply.created_at AS TIMESTAMP) AS created_at,
	CAST(apply.end_date AS TIMESTAMP) AS end_date,
	CAST(apply.start_date AS TIMESTAMP) AS start_date,
	CAST(apply.open_date AS TIMESTAMP) AS open_date,
	CAST(apply.updated_at AS TIMESTAMP) AS updated_at,
	sub_category.*, 
	files.*,
	PLACE.*
	from apply
	join sub_category on apply.sub_category_seq = sub_category.sub_category_seq
	join place on apply.place_seq = place.place_seq
	join files on apply.application_seq = files.files_parent_seq
	where apply.status = '승인' and files.files_type='poster'
	and apply.id = #{id}
	and CURRENT_DATE BETWEEN apply.start_date and apply.end_date
	order by apply.created_at desc
</select>
<select id="getAllFutureApproved" resultMap="TimestampResultMap">
	select apply.* , 
	CAST(apply.created_at AS TIMESTAMP) AS created_at,
	CAST(apply.end_date AS TIMESTAMP) AS end_date,
	CAST(apply.start_date AS TIMESTAMP) AS start_date,
	CAST(apply.open_date AS TIMESTAMP) AS open_date,
	CAST(apply.updated_at AS TIMESTAMP) AS updated_at,
	sub_category.*, 
	files.*,
	PLACE.*
	from apply
	join sub_category on apply.sub_category_seq = sub_category.sub_category_seq
	join place on apply.place_seq = place.place_seq
	join files on apply.application_seq = files.files_parent_seq
	where apply.status = '승인' and files.files_type='poster'
	and apply.id = #{id}
	and apply.start_date <![CDATA[>]]> CURRENT_DATE
	order by apply.created_at desc
</select>
<select id="getAllPastApproved" resultMap="TimestampResultMap">
	select apply.* , 
	CAST(apply.created_at AS TIMESTAMP) AS created_at,
	CAST(apply.end_date AS TIMESTAMP) AS end_date,
	CAST(apply.start_date AS TIMESTAMP) AS start_date,
	CAST(apply.open_date AS TIMESTAMP) AS open_date,
	CAST(apply.updated_at AS TIMESTAMP) AS updated_at,
	sub_category.*, 
	files.*,
	PLACE.*
	from apply
	join sub_category on apply.sub_category_seq = sub_category.sub_category_seq
	join place on apply.place_seq = place.place_seq
	join files on apply.application_seq = files.files_parent_seq
	where apply.status = '승인' and files.files_type='poster'
	and apply.id = #{id}
	and apply.end_date <![CDATA[<]]> CURRENT_DATE
	order by apply.created_at desc
</select>
<select id="getAllPoster" resultType="java.util.HashMap">
select * from poster where 
</select>

</mapper>