<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ChatUpload">
	<insert id="insert">
		insert into chat_upload values(chat_upload_seq.nextval,#{oriname},#{sysname},${group_seq},#{member_id},${code})
		<selectKey resultType="int" order="AFTER" keyProperty="seq">
			select chat_upload_seq.currval from dual
		</selectKey>
	</insert>
</mapper> 