<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Company">
	<!-- 회원가입 등록 -->
	<insert id="signUp">
		insert into company values(#{member_id},#{address},#{detailed_address},#{name},#{phone},#{registration_number},#{zipcode},sysdate)
	</insert>
	
	<select id="selectById" resultType="com.tap.company.dto.CompanyDTO">
		select * from company where member_id=#{id}
	</select>
	
	<!-- 회원가입 사업체 이름 중복 검사 -->
	<select id="checkName" resultType="int">
		select count(*) from company where name=#{name}
	</select>
	

</mapper>