<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Coupon">
	<insert id="insert">
		insert into coupon values(coupon_seq.nextval,${type_seq},#{member_id},sysdate,sysdate+30,${state})
		<selectKey resultType="int" order="AFTER" keyProperty="seq">
			select coupon_seq.currval from dual
		</selectKey>
	</insert>
</mapper>