<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CouponType">
	<insert id="insert">
		insert into coupon_type values(coupon_type_seq.nextval,#{title},#{contents},${discount},${coupon_order})
		<selectKey resultType="int" order="AFTER" keyProperty="seq">
			select coupon_type_seq.currval from dual
		</selectKey>
	</insert>
	
	<select id="selectAll" resultType="com.tap.coupon.dto.CouponTypeDTO">
		select *from coupon_type
	</select>
</mapper>