<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Detail">
	<select id="getDetailData" resultType="com.tap.detail.dto.DetailDTO">
		select 
		    a.name,
		    p.place_name,
		    a.id,
		    a.start_date, 
		    a.end_date, 
		    a.open_date,
		    a.running_time,
		    a.running_intertime, 
		    a.SUB_CATEGORY_SEQ, 
		    a.status,
		    a.age_limit,
		    f.files_sysname,
		    a.max_ticket,
		    a.place_seq
	    from apply a 
	    left outer join place p on a.place_seq = p.place_seq 
	    left outer join files f on a.application_seq = f.files_parent_seq 
	    where a.application_seq=#{seq}
	</select>
	
	<select id="getPriceByPlaceSeq" resultType="com.tap.detail.dto.SeatsDTO">
		select * from seats where place_seq=#{place_seq} order by PRICE_SEAT desc
	</select>
	
	<select id="getCasting" resultType="com.tap.detail.dto.CastingDTO">
		SELECT 
		    casting_name, 
		    casting_role, 
		    MIN(file_sysname) AS file_sysname
		FROM casting
		WHERE application_seq = #{seq}
		GROUP BY casting_name, casting_role
		ORDER BY casting_role
	</select>
	
	<select id="getDays" resultType="String">
		SELECT DISTINCT TO_CHAR(schedule_day, 'DAY') AS days FROM schedule where application_seq=#{seq}
	</select>
	
	<select id="getTimes" resultType="String">
		SELECT DISTINCT TO_CHAR(schedule_time, 'HH24:MI') AS times FROM schedule where application_seq=#{seq}
	</select>
	
	<select id="getCastingAndDate" resultType="com.tap.detail.dto.ScheduleAndCastingDTO">
		select 
		    datas.schedule_day, 
		    datas.schedule_time, 
		    datas.days, 
		    datas.day_number, 
		    datas.times,
		    c.casting_name,
		    c.casting_role,
		    c.file_sysname
		from
		(SELECT s.*, 
		       TO_CHAR(s.schedule_day, 'DAY') AS days,
		       CASE 
		           WHEN TO_CHAR(s.schedule_day, 'D') = '1' THEN 0
		           ELSE TO_NUMBER(TO_CHAR(s.schedule_day, 'D')) - 1 
		       END AS day_number,
		       TO_CHAR(s.schedule_time, 'HH24:MI') AS times
		FROM schedule s
		WHERE s.application_seq = #{seq}
		ORDER BY schedule_day) datas 
		left join casting c on datas.day_number = c.SCHEDULE_DAY and datas.schedule_time= c.schedule_time
		WHERE c.application_seq = #{seq}
		ORDER BY datas.schedule_day, datas.schedule_time, c.casting_role
	</select>
	
	
	<select id="getCastingAndDateNotArt" resultType="com.tap.detail.dto.ScheduleAndCastingDTO">
		select 
		    datas.schedule_day, 
		    datas.schedule_time, 
		    datas.days, 
		    datas.day_number, 
		    datas.times
		from
		(SELECT s.*, 
		       TO_CHAR(s.schedule_day, 'DAY') AS days,
		       CASE 
		           WHEN TO_CHAR(s.schedule_day, 'D') = '1' THEN 0
		           ELSE TO_NUMBER(TO_CHAR(s.schedule_day, 'D')) - 1 
		       END AS day_number,
		       TO_CHAR(s.schedule_time, 'HH24:MI') AS times
		FROM schedule s
		WHERE s.application_seq = #{seq}
		ORDER BY schedule_day) datas 
		ORDER BY datas.schedule_day, datas.schedule_time
	</select>
	
	<select id="getReview" resultType="com.tap.detail.dto.ReviewStarDTO">
		select 
			r.review_seq, 
			r.member_id, 
			r.review_title,
			r.review, 
			r.review_date, 
			s.stars 
		from review r 
			left outer join stars s on r.review_seq = s.review_seq
			where r.application_seq=#{seq}
			order by r.REVIEW_DATE desc
	</select>
	
	<select id="getExcite" resultType="com.tap.detail.dto.ExciteDTO">
		select * from excite where application_seq=#{seq}
	</select>
	
	<select id="getReviewByKeyword" resultType="com.tap.detail.dto.ReviewStarDTO">
	select * from(
		select 
			r.review_seq, 
			r.member_id, 
			r.review_title,
			r.review, 
			r.review_date, 
			s.stars,
            ROW_NUMBER() OVER (
				<if test="keyword != null">
                    ORDER BY ${keyword} DESC
                </if>
                <if test="keyword == null">
                    ORDER BY r.review_date DESC
                </if>
			) as rown  
		from review r 
			left outer join stars s on r.review_seq = s.review_seq
			where r.application_seq=#{seq}
			order by r.REVIEW_DATE desc
		)
		where rown between #{start} and #{end}
		order by rown
	</select>
	
	
	<select id="getExciteByKeyword" resultType="com.tap.detail.dto.ExciteDTO">
	select * from(
		select excite.*, 
		ROW_NUMBER() OVER (
				<if test="keyword != null">
                    ORDER BY ${keyword} DESC
                </if>
                 ) as rown  
		from excite where application_seq= #{seq})
		where rown between #{start} and #{end}
		order by rown
	</select>
	
	<select id="getCount" resultType="int">
	   select count(*) from ${table} where application_seq=#{seq}
	</select>
	
</mapper>