<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="GroupMember">
	<insert id="insert">
		insert into group_member
		values(#{group_seq},#{member_id})
	</insert>

	<insert id="insertAdmin">
			insert into group_member values (#{group_seq}, #{id})
	</insert>

	<select id="checkById" resultType="Integer">
		select group_seq from
		group_member where member_id=#{member_id}
	</select>
	
	<select id="membersByGroupSeq" resultType="com.tap.groupmember.dto.GroupMemberDTO">
		select * from group_member where group_seq=#{group_seq}
	</select>
</mapper>