<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MatchList">

   
<select id="getBaseballMatches" resultType="com.tap.matchlist.dto.MatchListDTO">
    SELECT
 	   a.name,
         a.application_seq,
        a.start_date AS startDate,  <!-- 매핑 이름 변경 -->
        a.end_date AS endDate,      <!-- 매핑 이름 변경 -->
        a.open_date AS openDate,    <!-- 매핑 이름 변경 -->
        place.PLACE_NAME AS place_name,  <!-- 필요시 추가 -->
        home_team.TEAM_NAME AS homeTeamName,  <!-- 매핑 이름 변경 -->
        home_team.LOGO_IMAGE AS homeTeamLogo,  <!-- 매핑 이름 변경 -->
        away_team.TEAM_NAME AS awayTeamName,  <!-- 매핑 이름 변경 -->
        away_team.LOGO_IMAGE AS awayTeamLogo   <!-- 매핑 이름 변경 -->
        , place.place_seq
        ,a.max_ticket,
         a.age_limit,
         a.id,
         a.status,
          a.sub_category_seq
    FROM
        APPLY a
    LEFT JOIN
        TEAM home_team ON a.PLACE_SEQ = home_team.PLACE_SEQ
    LEFT JOIN
        TEAM away_team ON a.AWAY_TEAM_SEQ = away_team.TEAM_SEQ
    LEFT JOIN
        PLACE place ON a.PLACE_SEQ = place.PLACE_SEQ            
    WHERE
        a.SUB_CATEGORY_SEQ = 3
        AND a.status = '승인 완료' 
    ORDER BY
        a.START_DATE
</select>
  <select id="getSoccerMatches" resultType="com.tap.matchlist.dto.MatchListDTO">
    SELECT
    a.name,
    a.application_seq,
        a.start_date AS startDate,  <!-- 매핑 이름 변경 -->
        a.end_date AS endDate,      <!-- 매핑 이름 변경 -->
        a.open_date AS openDate,    <!-- 매핑 이름 변경 -->
        place.PLACE_NAME AS place_name,  <!-- 필요시 추가 -->
        home_team.TEAM_NAME AS homeTeamName,  <!-- 매핑 이름 변경 -->
        home_team.LOGO_IMAGE AS homeTeamLogo,  <!-- 매핑 이름 변경 -->
        away_team.TEAM_NAME AS awayTeamName,  <!-- 매핑 이름 변경 -->
        away_team.LOGO_IMAGE AS awayTeamLogo   <!-- 매핑 이름 변경 -->
        , place.place_seq
        ,a.max_ticket,
        a.age_limit,
        a.sub_category_seq
    FROM
        APPLY a
    LEFT JOIN
        TEAM home_team ON a.PLACE_SEQ = home_team.PLACE_SEQ
    LEFT JOIN
        TEAM away_team ON a.AWAY_TEAM_SEQ = away_team.TEAM_SEQ
    LEFT JOIN
        PLACE place ON a.PLACE_SEQ = place.PLACE_SEQ            
    WHERE
        a.SUB_CATEGORY_SEQ = 4
        AND a.status = '승인 완료' 
    ORDER BY
        a.START_DATE
  </select>


</mapper>
