<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Members">
	<!--	회원가입 등록-->
	<insert id="signUp">
		insert into members values(#{id}, #{pw},#{name},#{phone},#{email},#{birth},#{gender},#{delivery_seq},1, sysdate, default, default, default)
	</insert>
	
	<insert id="signUpBiz">
		insert into members values(#{id}, #{pw},#{name},#{phone},#{email},#{birth},#{gender},#{delivery_seq},0, sysdate, default, default, default)
	</insert>
	
	
	<!-- 회원가입 아이디 중복 검사 -->
	<select id="checkId" resultType="int">
		select count(*) from members where id=#{id}
	</select>
	
	<!-- 회원가입 이메일 중복 검사 -->
	<select id="checkEmail" resultType="int">
		select count(*) from members where email=#{email}
	</select>
	
	<select id="getMemberInfo" resultType="com.tap.members.dto.MembersGradeDTO">
		select pw,role,m.name as name, g.name as grade from members
		m
		join grade g on g.seq=m.grade_seq
		where id=#{id}
	</select>
	
	<select id="selectById" resultType="com.tap.members.dto.MembersDTO">
		select * from members where id=#{id}
	</select>
	
	<select id="selectByAdmin" parameterType="java.util.List" resultType="String">
		select id from members where role='ROLE_ADMIN'
	</select>

	
	<select id="selectMember" resultType="com.tap.members.dto.MembersDTO">
		select * from members
	</select>

	<update id="updateMember">
		update members set email=#{email},phone=#{phone}
		where id=#{id}
	</update>
	
	<update id="updatePwById">
		update members set pw=#{pw} where id=#{id}
	</update>
</mapper>