.container{
    height: 100%;
    width: 99%;
    display: flex;
    flex-direction: column;
}

.search{
    display: flex;
    margin-bottom: 30px;
}

.contents{
    display: flex;
    flex-wrap: wrap;
}

.card{
    display: flex;
    flex-direction: column;
    height: 450px;
    width: 19%;
    /* border: 1px solid black;  */
    justify-content: end;
    padding: 5px;
    border-radius: 5px;
}

.poster{
    width: 100%;
    height: 65%;
    margin-top:15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: start;
    border-radius: 5px;
}

.poster img{
    width: 95%;
    height: 100%;
    /* border: 1px solid black; */
    border-radius: 5px;
}

.empty_content{
    min-height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

