.container {
    width: 700px;
    height: 500px;
    display: flex;
    margin: auto;
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
    flex-direction: column;
    gap: 10px;

}

.header {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: white;
    border-radius: 30px;
}


.title {
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid gray;
}
.title p{
    color: red;
    white-space: pre;
}

.grade {
    flex: 1;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.grade:hover{
    background-color: #f8f8f8;
    color: blue;
}


.menus {
    flex: 5;
    display: flex;
    flex-direction: column;
   
    border-radius: 30px;
    gap: 10px;
}

.menu {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    background-color: white;
    border-radius: 15px;
    padding: 10px;
}
.menu:hover{
    background-color: #f8f8f8;
    color: blue;
}

.line {
    flex: 1;
    display: flex;
    gap: 10px;
}