.container {
    width: 400px;
    height: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 50px;

}



/* title 영역 */
.title {
    /* background-color: rgb(31, 24, 24); */
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -50px;
    gap: 10px;
}

.logo {
    width: 100px;
    height: 50px;
}

/* form 영역 */
.form {
    /* flex: 1; */
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    gap: 10px;
    height: 100px;


}

.inputId {
    flex: 1;
    display: flex;
    align-items: center;

}

.inputId input {

    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 2px solid rgb(194, 194, 194);
    padding-left: 10px;
}

.inputEmail {
    flex: 1;
    display: flex;
    align-items: center;
}

.inputEmail input {

    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 2px solid rgb(194, 194, 194);
    padding-left: 10px;
}

.btn {
    flex: 1;
}

.button {

    width: 100%;
    height: 60px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: #2b2d42;
    margin-top: 40px;
    cursor: pointer;
}