/* Popup.module.css */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); /* 배경을 어둡게 */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999; /* 팝업이 가장 위에 위치하도록 */
  }
  
  .popupContent {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* 트렌디한 그림자 */
    width: 700px;
    max-width: 90%; /* 작은 화면에서 유연하게 크기 조절 */
    position: relative;
    text-align: left;
  }
  
  .closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    color: #333; /* x 버튼 색상 */
    transition: color 0.3s ease;
  }
  
  .closeButton:hover {
    color: #6a0dad; /* 보라색 호버 색상 */
  }
  
  .popupBody {
    padding: 10px 0;
  }
  
  .leftAlign {
    text-align: left;
    font-size: 18px;
    color: #333;
    font-weight: bold;
  }
  
  .descriptionText {
    text-align: left;
    color: #555;
    font-size: 16px;
    line-height: 1.6;
    max-height: 250px; /* 높이 고정 */
    overflow-y: auto;  /* 내용이 넘칠 경우 스크롤 */
    padding-right: 10px; /* 스크롤바와 텍스트 사이 간격 */
  }
  
  .doNotShowButton {
    background-color: #6a0dad; /* 보라색 버튼 색상 */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 14px;
    margin-right: 10px; /* 텍스트와 간격을 위한 마진 */
    transition: background-color 0.3s ease;
  }
  
  .doNotShowButton:hover {
    background-color: #5a0ca0; /* 호버 시 더 진한 보라색 */
  }
  
  .checkboxContainer {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  
  .checkboxText {
    margin-left: 10px; /* 텍스트와 버튼 사이 간격 */
    color: #555;
    font-size: 16px;
  }
  
  hr {
    margin: 15px 0;
    border: 0;
    height: 1px;
    background-color: #e0e0e0;
  }
  