.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.search {
    display: flex;
    gap: 50px;
    border: 1px solid gray;
    padding: 10px;
    box-shadow: 0px 2px 4px 4px rgba(137, 43, 226, 0.14);
    border-radius: 10px;

}

.searchCont {
    flex: 1 1;
    gap: 10px;
    border: 1px solid #b3b3b3;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;

}

.searchCont input {
    border: none;
    width: 100%;
}

.searchCont input:focus {
    border: none;
    /* focus 상태에서도 border 제거 */
    outline: none;
    /* 기본으로 생기는 파란 테두리도 제거 */
}

.stateSelect {
    display: flex;
    flex: 1;
    border-radius: 20px;
    height: 30px;
    text-align: center;
    border: none;
    cursor: pointer;
}

.select {
    display: flex;
    flex: 1;
    border-radius: 20px;
    text-align: center;
    border: none;
    cursor: pointer;
}

.header {
    display: flex;
    /* padding: 10px; */
    font-size: 15px;
    font-weight: 600;
}

.header .headerConts {
    display: flex;
    justify-content: center;
    align-items: center;

}

.list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    box-shadow: 0px 2px 4px 4px rgba(137, 43, 226, 0.14);
    border-radius: 10px;
}

.addBoardBtn {
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: #fcecff;
    font-weight: bold;
    color: #673AB7;
    cursor: pointer;
}

.addBtn {
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    color: white;
    pointer-events: none;

}

.addPassBtn {
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: #fcecff;
    font-weight: bold;
    color: #673AB7;
    cursor: pointer;
}

.dto {
    display: flex;
    cursor: pointer;
    background-color: white;

    padding: 10px;
    border-radius: 10px;

}

.dto:hover {
    background-color: rgba(137, 43, 226, 0.121);
}

.status {
    flex: 1;
    border-radius: 20px;
    background-color: rgba(137, 43, 226, 0.14);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: rgb(129, 0, 249);
    font-weight: 600;
    height: 50%;
    font-size: 15px;
}

.body {
    flex: 3;
    display: flex;
    /* gap: 10px;
    padding-left: 10px; */
    font-size: 12px;
    /* background-color: red; */
    height: 40px;
    font-size: 16px;
    justify-content: center;
    align-items: center;
}

.body div {
    flex: 1;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: blue;
}

.category {
    display: flex;
    justify-content: center;
    align-items: center;
    color: blueviolet;
}

.writeDate {
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
}

.header select {
    display: flex;
    border-radius: 20px;
    text-align: center;
    border: none;
    cursor: pointer;
    box-shadow: 0px 2px 4px 4px rgba(137, 43, 226, 0.14);
}

/**/
.pagination {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: auto;
    justify-content: center;
    margin-top: 50px;
}

.pagination li {
    cursor: pointer;
    margin: 0 5px;
}

.pagination a {
    text-decoration: none;
    color: #6b9080;
    padding: 6px 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.pagination a:hover {
    background-color: #f8f9fa;
}

.pagination .active a {
    background-color: #826b90;
    color: white;
}

.next {
    display: none;
}

.previous {
    display: none;
}

.writeBox {
    /* background-color: yellow; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.writeBox h2 {
    /* flex: 1; */
    width: 100%;
}

.writeTitle {
    width: 100%;
    height: 50px;
    border: 2px solid rgb(205, 205, 205);
    border-radius: 10px;
}

.writeInner {
    flex: 5 1;
    /* background-color: red; */
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.writeCont {
    width: 100%;
    background-color: #f8f9fa;
    /* border: 1px solid black; */
    flex: 5;
    max-height: 700px;
}

.closeBtn {
    /* flex: 1; */
    width: 100px;
    height: 30px;


}

.closeBtn {
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: #fcecff;
    font-weight: bold;
    color: #673AB7;
}

.headerConts div {
    display: flex;
    justify-content: center;
}


.deleteBtn {
    padding: 5px 16px;
    border-radius: 10px;
    border: none;
    background-color: #fcecff;
    font-weight: bold;
    color: #ff5050;
    cursor: pointer;
    height: 40px;
    margin-top: 10px;
}