.container{
    height: 100%;
    width: 100%;
}

.container hr{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.box{
    display: flex;
}

.box_title{
    flex:1.5;
}

.box_content{
    flex:8.5;
}

.box button{
    background-color: rgba(0, 0, 0, 0);
    width: 80px;
    height: 30px;
    border-radius: 10px;
    margin-right: 10px;
}

.box button:hover{
    cursor: pointer;
}

.casting_btns button{
    margin-bottom: 15px;
}

/* 캐스팅 테이블 css */
.casting_table table{
    width: 100%;
    margin-top: 40px;
    margin-bottom: 60px;
    border-collapse: collapse
}

.casting_table thead{
    height: 40px;
    background-color: lightgray;
}

.casting_table th{
    border: 1px solid gray;
}

.casting_table tr{
    height: 40px;
    text-align: center;
}

.casting_table tr:hover{
    background-color: rgb(233, 229, 229);
}

.casting_table td{
    height: 35px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid lightgray;
}

.casting_table table th:first-child,
.casting_table table td:first-child {
	border-left: 0;
}
.casting_table table th:last-child,
.casting_table table td:last-child {
	border-right: 0;
}




