.title{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contents{
    flex: 5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    display: flex;
    gap: 10px;
}

.cancel{
    flex: 1;
    display: flex;
    justify-items: center;
    align-items: center;
}
.confirm{
    flex: 1;
    display: flex;
    justify-items: center;
    align-items: center;
}

.confirm button{
    background-color: red;
}