

.title{
    flex: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contents{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.icon{
    flex: 1;
}

.content{
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 10px;
  
}

.contentTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 5px;
    flex-direction: column;
}

.contentTitle p{
    color: red;
    white-space: pre;
}
.contentDetail{
    font-size: 10px;
    color: gray;
    flex: 1;
}
.inputDiv{
    flex: 1;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    padding: 20px;
}
.id{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.id div:nth-child(1){
    flex: 1;
    color: gray;
}
.id div:nth-child(2){
    flex: 5;
}

.pw{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

}
.pw div:nth-child(1){
    flex: 1;
    color: gray;
}
.pw div:nth-child(2){
    flex: 5;
}

.pw input{
    width: 80%;
    height: 30px;
    border-radius: 15px;
    border: 1px solid gray;

}
.pwDetail{
    display: flex;
    width: 220px;
    color: red;
    justify-content: flex-end;
}
.pwCancel{
    background-color: gray;
    border: none;
    color: white;
    border-radius: 50%;
    position: absolute;
    right: 700px;
    width: 15px;
    height: 15px;
    font-size: 7px;
    justify-content: center;
    display: flex;
    align-items: center;
}

