.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* 어두운 배경 */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* 모달을 최상단에 표시 */
}

.content {
    position: relative; /* relative를 사용하여 자식인 .close 버튼의 위치가 이 안에서 설정됨 */
    background-color: #fff;
    padding: 50px;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
}




.close {
    position: absolute;
    top: 10px; /* 상단으로부터 여백을 확보 */
    right: 10px; /* 오른쪽으로부터 여백을 확보 */
    background: #28a745;
    color: white;
    border: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10%;
    width: 30px; /* 버튼의 크기를 적당하게 설정 */
    height: 30px; /* 버튼의 크기를 적당하게 설정 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.close:hover {
    background-color: #218838;
}

.close:focus {
    outline: none;
}

.modal p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 20px;
    box-sizing: border-box; /* 박스 크기 설정 */
}

.textarea:focus {
    border-color: #007BFF; /* 포커스 시 파란 테두리 */
    outline: none; /* 기본 포커스 아웃라인 제거 */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* 포커스 시 그림자 효과 */
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    margin: 5px;
}

.btn:hover {
    opacity: 0.9; /* 버튼 호버 효과 */
}

.btn:focus {
    outline: none;
}

.btn:active {
    transform: scale(0.98); /* 클릭 시 살짝 눌리는 효과 */
}

.btn:nth-child(1) {
    background-color: #28a745;
    color: #fff;
}

.btn:nth-child(2) {
    background-color: #dc3545;
    color: #fff;
}

.btn:nth-child(3) {
    background-color: #6c757d;
    color: #fff;
}
