.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 900;
}

.modal {
    background: white;
    border: 2px solid rgba(0, 0, 0, 0.662);
    /* padding: 20px; */
    /* border-radius: 5px; */
    width: 57vw;
    position: relative;
    height: 87vh;
    z-index: 901;
}

.header{
    display: flex;
    height: 60PX;
    border-bottom: 1px solid gray;
}

.header_title{
    height: 100%;
    flex:1.5;
    background-color: blueviolet;
    color: white;
    font-size: 28px;
    text-indent: 12px;
    display: flex;
    align-items: center;
}

.header_middle{
    flex:7.5;
    height: 100%;
    text-indent: 10px;
    display: flex;
    align-items: center;
}

.header_middle p{
    margin: 0px;
}

.header_end{
    height: 100%;
    flex:1;
}

.closeButton {
    position: absolute;
    top: 15px;
    right: 10px;
    border: none;
    background: transparent;
    font-size: 24px;
    cursor: pointer;
}

/* ========= MAIN CSS ============== */

.main{
    display: flex;
    height: 92%;
}

/* ========= MAIN Left CSS ========================== */

.main_left{
    flex:6.5;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* ========= MAIN ringt CSS ========================== */

.main_right{
    flex:3.5;
    height: 100%;
    border-left: 1px solid black;
}

/* ========= 오른쪽 헤더 CSS ============== */
.main_right_header{
    width: 100%;
    height: 45px;
    color: white;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
}

/* ========= 오른쪽 상품 상세정보 CSS ============== */

.main_right_detail{
    margin: 8px;
    /* border: 1px solid black; */
    height: 25%;
    display: flex;
}

.right_detail_img{
    flex:4.25;
}

.right_detail_content{
    flex:5.75;
}

.right_detail_img img{
    width: 100%;
    height: 100%;
}

.right_detail_content p{
    margin: 0px;
    margin-left: 10px;
    margin-top: 7px;
}

/* ========= 오른쪽 선택좌석 CSS ============== */

.main_right_selectSeat{
    margin-top: 30px;
    margin-left: 10px;
    font-size: 13px;
    /* text-indent: 10px; */
}

.main_right_selectSeat h3{
    margin: 0px;
    font-size: large;
    margin-bottom: 10px;
}

.main_right_selectSeat table{
    border: 1px solid lightgray;
    border-collapse: collapse;
    width: 95%;
    text-indent: 5px;
}

.main_right_selectSeat td{
    border: 1px solid lightgray;
    height: 40px;
}


/* ========= 오른쪽 버튼 CSS ============== */

.next_page{
    height: 10%;
    /* border: 1px solid black; */
    padding: 15px;
}

.next_page button{
    height: 55%;
    width: 99%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 5px;
}

.prev_btn{
    background-color: white; 
    color:blueviolet; 
    border: 1px solid blueviolet;
    text-align: center;
}
.prev_btn:hover{
    cursor: pointer;
    background-color: rgb(178, 173, 182); 
    color:blueviolet; 
    border: 1px solid blueviolet;
    text-align: center;
}

.next_btn{
    background-color: blueviolet;
    color: white;
    border: 1px solid blueviolet;
    text-align: center;
}

.next_btn:hover{
    cursor: pointer;
    background-color: rgb(114, 64, 160);
    color: white;
    border: 1px solid blueviolet;
    text-align: center;
}

