.header{
    display: flex;
    background-color: white;
    height: 200px;
   
}
.grade{
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 1;
}
.empty{
    flex: 0.5;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.empty1{
    flex: 7;
    background-color: white;
}
.empty2{
    flex: 4;
    background-color: white;
}

.empty3{
    flex: 2;
    background-color: white;
}

.empty4{
    flex: 1;
    background-color: white;
}
.color1{
    background-color: gray;
}
.color2{
    background-color: red;
}
.color3{
    background-color: aquamarine;
}
.color4{
    background-color: blueviolet;
}


.grade div:nth-child(2){
    display: flex;
    color: white;
    font-size: 15px;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    flex: 1;
    border-bottom: 1px solid white;
    
}
.grade div:nth-child(3){
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding-bottom: 10px;
}
.detail{
    display: flex;
    flex: 4;
    color: gray;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.145);
    padding-top: 10px;
    padding-bottom: 10px;
}

.body{
    display: flex;
    height: 500px;
    border-right: 1px solid rgba(128, 128, 128, 0.364);
}

.info{
    display: flex;
    flex-direction: column;
    flex: 0.5;
}
.infoTitle{
    display: flex;
    flex-direction: column;
    flex:1;
    font-size: 13px;
    color: gray;
    justify-content: center;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.145);
    border-bottom: 1px solid rgba(128, 128, 128, 0.364);
}
.contents{
    display: flex;
    flex-direction: column;
    flex: 1;
    border: 1px solid rgba(128, 128, 128, 0.364);
    border-right: 0;
}
.content{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    color: 13px;
    font-weight: 600;
    border-bottom: 1px solid rgba(128, 128, 128, 0.364);
}
.point{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(128, 128, 128, 0.364);
    flex: 1;
    color: blue;
}
.coupon{
    display: flex;
    flex-direction: column;
   
    font-size: 12px;
    color: gray;
    overflow: auto;
    border-bottom: 1px solid rgba(128, 128, 128, 0.364);
}
.coupon img{
    width: 50px;
    height: 50px;
}
.date{
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    flex: 1;
}
