.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.menus {
    display: flex;
    background-color: aquamarine;


}

.menu:hover {
    color: blueviolet;
}