.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* gap: 50px; */
}

.view {
    width: 70vw;
    height: 100%;
    margin: auto;
}

.menus {
    display: flex;
    gap: 80px;
    padding: 5px 20px;
    font-weight: bold;
    /* justify-content: space-evenly; */
    width: 70vw;
    height: 100%;
    margin: auto;
    align-items: center;

}

.menu:hover {
    color: blueviolet;
}