.banner {
    background-color: rgb(245, 232, 255);
    height: 600px;
    border-radius: 20px;
    width: 100% !important;
    overflow: auto;
}

.banner div {
    position: relative;
}



.ranking {
    height: 800px;
    /* background-color: aliceblue; */
    display: flex;
    flex-direction: column;
}

.rankingTxt {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 100px;

}

.rTitle {
    font-size: 2.5rem;
    font-weight: bold;
    /* background-color: red; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.rSubTitle {
    font-size: 26px;
    color: rgb(147, 147, 147);
}

.rankingCategory {
    /* flex: 1; */
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.sort {
    border: 2px solid #eee;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
}

.sort:hover {
    background-color: #9c43f8;
    border: 2px solid #9c43f8;
    color: white;
}

.rankingImgs {
    flex: 4;
    /* background-color: blue; */
    display: flex;
}

.rank {
    flex: 1;
    /* border: 1px solid black; */
    height: 80%;
    display: flex;
    flex-direction: column;
    /* padding: 10px 20px; */
    padding-left: 10px;
    padding-right: 10px;
}

.rankImg {
    flex: 6;
    cursor: pointer;
    background-color: beige;

}

.rankTitle {
    flex: 1;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}

.rankSubTitle {
    flex: 1;
    display: flex;
    align-items: center;
}

.rankDate {
    flex: 1;
    display: flex;
    align-items: center;
    color: #c1c1c1;
}

.rankSub {
    flex: 1;
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #ff7262;
}

.rankSub span {
    border: 2px solid #ffe4d5;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
}

/* 티켓오픈 */
.tOpen {
    height: 600px;
    /* background-color: bisque; */
    display: flex;
    flex-direction: column;
}

.oTitle {
    flex: 1;
    font-size: 2.5rem;
    font-weight: bold;
    /* background-color: red; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.oConts {
    flex: 4;
}

.sale {
    height: 600px;
    /* background-color: rgb(212, 255, 245); */
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}

.sTitle {
    flex: 1;
    font-size: 2.5rem;
    font-weight: bold;
    /* background-color: red; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sConts {
    flex: 4;
}

/* 베스트 관람 후기 */
.review {
    /* height: 800px; */
    /* background-color: rgb(255, 232, 191); */
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    margin-bottom: 150px;
}

.rTitle {
    flex: 1;
    font-size: 2.5rem;
    font-weight: bold;
    /* background-color: red; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rConts {
    flex: 4;
    /* background-color: rgb(209, 209, 209); */
}

.rTap {
    display: flex;
    /* border: 1px solid black; */
    height: 200px;
    padding: 20px;
    gap: 20px;
}

.cTap {
    flex: 1;
    /* border: 1px solid rgb(237, 27, 27); */
    display: flex;

}

.tapTxt {
    flex: 7;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
}

.tapSubTxt {
    flex: 1;
    color: #8c8c8c;

}

.tapTitle {
    flex: 1;
    font-size: 18px;
    font-weight: bold;
}

.tapExplain {
    flex: 3;
}

.userInfo {
    flex: 1;
    display: flex;
    gap: 10px;
}

.faStar {
    color: #fdba39
}

.tapImg {
    flex: 3;
    background-color: rgb(179, 212, 246);
}