.banner {
    background-color: rgb(245, 232, 255);
    height: 600px;
    border-radius: 20px;
}



.ranking {
    height: 800px;
    /* background-color: aliceblue; */
    display: flex;
    flex-direction: column;
}

.rankingTxt {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 100px;

}

.rTitle {
    font-size: 2.8rem;
    font-weight: bold;
    /* background-color: red; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.rSubTitle {
    font-size: 26px;
    color: rgb(147, 147, 147);
    /* background-color: beige; */
}

.rankingCategory {
    /* flex: 1; */
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.sort {
    border: 2px solid #eee;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
}

.sort:hover {
    background-color: #9c43f8;
    border: none;
    color: white;
}

.rankingImgs {
    flex: 4;
    /* background-color: blue; */
    display: flex;
}

.rank {
    flex: 1;
    /* border: 1px solid black; */
    height: 80%;
    display: flex;
    flex-direction: column;
    /* padding: 10px 20px; */
    padding-left: 10px;
    padding-right: 10px;
}

.rankImg {
    flex: 6;
    background-color: beige;

}

.rankTitle {
    flex: 1;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}

.rankSubTitle {
    flex: 1;
    display: flex;
    align-items: center;
}

.rankDate {
    flex: 1;
    display: flex;
    align-items: center;
    color: #c1c1c1;
}

.rankSub {
    flex: 1;
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #ff7262;
}

.rankSub span {
    border: 2px solid #ffe4d5;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
}

.tOpen {
    height: 800px;
    background-color: bisque;
}

.sale {
    height: 600px;
    background-color: rgb(212, 255, 245);
}

.review {
    height: 600px;
    background-color: rgb(255, 232, 191);
}