/* src/components/Side/Side.module.css */

.side {
  background-color: #f4f4f4;
  padding: 20px;
  max-width: 180px;
  overflow: hidden;
  border-right: 1px solid #ddd;
  margin: auto;
  margin-top: 107px;
  height: 280px;
  
}

.menuWrap {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menuList {
  margin-bottom: 10px;
}

.childBtn {
  cursor: pointer;
}

.childBtn a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.childBtn a:hover {
  color: #007bff;
}

.subMenu {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 0; /* 기본적으로 숨김 */
  overflow: hidden;
  transition: max-height 0.3s ease-out, background-color 0.3s ease-out;
  padding-left: 20px;
  margin-top: 5px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.subMenu.open {
  max-height: 500px; /* 충분한 높이 값을 설정하여 모든 내용을 표시할 수 있도록 */
}

.subMenu li {
  margin-bottom: 5px;
}

.subMenu li a {
  text-decoration: none;
  color: #555;
  display: block;
  padding: 8px;
  border-radius: 4px;
  transition: background-color 0.3s ease-out, color 0.3s ease-out;
}

.subMenu li a:hover {
  color: #007bff;
  background-color: #e9ecef;
}

.listBtn {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #007bff;
  display: inline-block;
  transition: background-color 0.3s;
}

.listBtn:hover {
  background-color: #0056b3;
}
