.container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header{
    display: flex;
    padding-bottom: 10px;
}
.header div{
    flex: 1;
}
.contents{
    display: flex;
    font-size: 12px;
}
.contents div{
    flex: 1;
}
.discount {
    color: blueviolet;
}
.issueDate{
    color: gray;
}
.expireDate{
    color: red;
}