.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.search{
 display: flex;
  gap: 50px;
  border: 1px solid gray;
  padding: 10px;
  box-shadow: 0px 2px 4px 4px rgba(137, 43, 226, 0.14);
  border-radius: 10px;
 
}

.stateSelect{
  display: flex;
  flex: 1;
  border-radius: 20px;
  height: 30px;
  text-align: center;
  border: none;
  cursor: pointer;
}
.select{
  display: flex;
  flex: 1;
  border-radius: 20px;
  text-align: center;
  border: none;
  cursor: pointer;
}

.header {
  display: flex;
  padding: 10px;
  font-size: 15px;
  font-weight: 600;
}
.header div{
  display: flex;
  justify-content: center;
  align-items: center;

}

.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  box-shadow: 0px 2px 4px 4px rgba(137, 43, 226, 0.14);
  border-radius: 10px;
}

.dto {
  display: flex;
  cursor: pointer;
  background-color: white;
 
  padding: 10px;
  border-radius: 10px;
}

.dto:hover{
  background-color: rgba(137, 43, 226, 0.121);
}

.status {
  flex: 1;
  border-radius: 20px;
  background-color: rgba(137, 43, 226, 0.14);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: rgb(129, 0, 249);
  font-weight: 600;
  height: 50%;
  font-size: 15px;
}

.body {
  flex: 3;
  display: flex;
  gap: 10px;
  padding-left: 10px;
  font-size: 12px;
}
.body div{
  flex: 1;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: blue;
}

.category {
  display: flex;
  justify-content: center;
  align-items: center;
  color: blueviolet;
}

.writeDate {
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
}



/**/
.pagination {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: auto;
}

.pagination li {
  cursor: pointer;
  margin: 0 5px;
}

.pagination a {
  text-decoration: none;
  color: #6b9080;
  padding: 6px 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.pagination a:hover {
  background-color: #f8f9fa;
}

.pagination .active a {
  background-color: #826b90;
  color: white;
}

.next {
  display: none;
}

.previous {
  display: none;
}