

.list{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-left: 30px;
}
.dto{
    display: flex;
    gap: 10px;
    cursor: pointer;
    background-color: white;
    box-shadow: 0px 2px 4px 4px  rgba(137, 43, 226, 0.14);
    padding: 10px;
    border-radius: 10px;
}
.status{
    border-radius: 20px;
    background-color: rgba(137, 43, 226, 0.14);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: rgb(129, 0, 249);
    font-weight: 600;
    height: 50%;
   
}

.body{
    display: flex;
    gap: 10px;
    padding-left: 10px;
    font-size: 15px;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
   color: blue;
}

.category{
  display: flex;
  justify-content: center;
  align-items: center;
  color: blueviolet;
}
.writeDate{
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
}



/**/
.pagination {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: auto;
  }
  
  .pagination li {
    cursor: pointer;
    margin: 0 5px;
  }
  
  .pagination a {
    text-decoration: none;
    color: #6b9080;
    padding: 6px 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .pagination a:hover {
    background-color: #f8f9fa;
  }
  
  .pagination .active a {
    background-color: #826b90;
    color: white;
  }
  .next {
    display: none;
  }
  .previous {
    display: none;
  }
  