.container {
    width: 100%;
    height: 100px;
    /* border: 1px solid black; */
    position: fixed;
    display: flex;
    z-index: 999;
    background-color: white;
    justify-content: center;
    align-items: center;

}

.containerfix {
    width: 70vw;
    height: 100px;
    position: fixed;
    top: 0;
    z-index: 888;
    /* border-bottom: 1px solid rgb(220, 76, 14); */
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.2);

}

.header {
    display: flex;
    width: 70vw;
    background-color: white;
    height: 100px;
    padding: 0 30px 0 30px;
    gap: 20px;
}

.leftConts {
    flex: 7;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
}

.title {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #9c43f8;
}

.title .logo {
    width: 100px;
    height: 40px;

}

.search {
    background-color: rgb(210, 210, 210);
    width: 500px;
    height: 50px;
    border-radius: 50px;
    border: none;
    position: relative;
}

.search input {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    border: none;
    /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15); */
    border: 1px solid #aaa;
    padding: 10px;
    padding-right: 40px;
}

.faMagnifyingGlass {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
}

.headerMenus {
    flex: 3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}

.sign {
    padding: 10px 5px;
    border-radius: 10px;
    color: white;
    background-color: #9c43f8;

}

.faHouseUser {
    width: 30px;
    height: 30px;
    color: #7a7a7a;
}

.myPage {
    width: 30px;
    height: 30px;
}