.container{
    width: 100%;
    height: 100%;
}

.com_info table{
    /* border: 1px solid lightgray; */
    font-size: 15px;
    height: 100%;
}

.com_info tr{
    height: 100%;
}

.com_info th{
    background-color: lightgray;
    border: 1px solid lightgray;
    
}

.com_info td{
    padding: 10px;
    padding-left: 10px;
    /* border-left: 1px solid lightgray; */
}

.com_info table table{
    margin: 10px;
    width: 100%;
    /* margin-left: 40px; */
    text-align: center;
    background-color: lightgray;
    border: 0px;
}


.com_info table table td{
    /* border: 1px solid black; */
    background-color: white;
}

