.buttonDiv{
    flex: 1;
    display: flex;
    gap: 10px;
    
}
.buttonDiv button{
    max-width: 150px;
    height: 30px;
    flex: 1;
    cursor: pointer;
}
.buttonDiv button:hover{
    color: blueviolet
}

.cancel{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
 
}
.cancel button{
    border: 1px solid red;
    background-color: white;
    color: red;
}

.confirm{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

}

.confirm button{
    background-color: red;
    border: 1px solid red;
    color: white;
   
    
}

.none{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.none button{
    background-color: gray;
    border: none;
    color: white;
    pointer-events: none;
   
}