/* Team.module.css */
.selectContainer {
    display: flex;
    align-items: center;
    gap: 10px; /* 요소들 사이의 간격 */
}

.gradeSelect {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    margin-bottom: 20px;
}

.gradeSelect:focus {
    border-color: #6B9080;
    outline: none;
    box-shadow: 0 0 5px rgba(107, 144, 128, 0.5);
}