.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.menus {
    display: flex;
}


.menu,
.moreMenu,
.menuLine {
    font-size: 18px;
    /* flex: 1; */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 40px;
}

.menu {
    border-bottom: 3px solid rgba(255, 255, 255, 0);
}

.moreMenu {
    color: #9c43f8;
    gap: 6px;
    border-bottom: 3px solid rgba(255, 255, 255, 0);
}

.menuLine {
    color: #e7e7e7;
}

.menuActice {
    border-bottom: 3px solid #121212;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 40px;
}


.moreActiveMenu {
    color: #9c43f8;
    gap: 6px;
    border-bottom: 3px solid #9c43f8;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 40px;

}