.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.menus {
    display: flex;
}

.menu,
.menuCenter,
.menuNotice,
.menuLine {

    /* flex: 1; */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 40px;
}

.menuCenter,
.menuNotice {
    color: #9c43f8;
    gap: 6px;
}

.menuLine {
    color: #e7e7e7;
}

.menu:hover {
    border-bottom: 2px solid rgb(114, 114, 114);
}

.menuCenter:hover,
.menuNotice:hover {
    border-bottom: 2px solid #9c43f8;
}