.container{
    display: flex;
    flex-direction: column;
}
.header{
    display: flex;
    
}
.header div{
    flex: 1;
}
.contents{
    display: flex;
    font-size: 10px;
}
.contents div{
    display: flex;
    flex: 1;
}