.container{
    width:100%;
    height:100%;
    /* padding: 0px 100px; */
    /* background-color: beige; */
}
.header{
    padding: 30px 50px 10px 50px;
}

/* *{border: 1px solid black;} */

.product_table{
    width:100%;
   
}
.product_table table{
    width:100%;
    border:1px solid gray;
}
.product_table table thead tr th {
    background-color: pink;
}
.product_table table thead tr th:nth-child(1){
  width:5%;
}
.product_table table thead tr th:nth-child(2){
  width:35%; 
}
.product_table table thead tr th:nth-child(3){
  width:15%;
}
.product_table table thead tr th:nth-child(4){
  width:15%;
}
.product_table table thead tr th:nth-child(5){
  width:7%;
}
.product_table table thead tr th:nth-child(6){
  width:13%;
}
.product_table table thead tr th:nth-child(7){
  width:10%;
}
.product_table table td{
    border:1px solid gray;
    text-align: center;
}
.product_info{
    display: flex;
    align-items: center;
}

.product_image_container {
    position: relative;
    margin-right: 10px;
   
  }
  .product_image {
    width: 100px;
    /* height: 100px; */
    object-fit: cover;
  }
  
  .product_details {
    text-align: left;
    /* background-color: black; */
  }
  
  .product_name {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .product_sub_info {
    color: gray;
  }
  
  .product_date, .product_venue {
    font-size: 14px;
    width:150px
  }
  
  .manage_button, .edit_button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    margin: 2px;
    cursor: pointer;
  }
  
  .manage_button:hover, .edit_button:hover {
    background-color: #0056b3;
  }


  /* 반려 사유 툴팁 */
  /* WaitingList.module.css */
.rejectReason {
    position: relative;
    display: inline-block;
  }
  
  .tooltipIcon {
    margin-left: 5px;
    cursor: pointer;
    color: rgb(153, 52, 212); /* 아이콘 색상 */
  }
  
  .tooltipText {
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* 위로 표시 */
    left: 50%;
    margin-left: -100px; /* 중앙 정렬 */
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltipText::after {
    content: "";
    position: absolute;
    top: 100%; /* 화살표를 아래에 위치 */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
  
  /* 툴팁 표시 */
  .rejectReason:hover .tooltipText {
    visibility: visible;
    opacity: 1;
  }
  