.container{
    width: 100%;
    /* height: 2000px; */
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caroucel{
    width: 100%;
}

.links{
    height: 150px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.links button{
    background-color: rgba(247, 247, 247, 0);
    color: purple;
    border: 1px solid purple;
    border-radius: 50px;
    height: 45px;
    width: 150px;
    display: flex;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links button:hover{
    border: 2px solid purple;
    font-weight: 600;
}

.saleEvent{
    width: 100%;
}

.btns{
    display: flex;
    justify-content: space-around;
    width: 23%;
}

.btns button{
    border:0px;
    color: purple;
    background-color: rgba(250, 235, 215, 0);
    font-size: 15px;
}

.btns button:hover{
    cursor: pointer;
    font-weight: 600;
}

.art_hr{
    width: 99%;
    height: 1px;
    background-color: rgb(92, 60, 92);
    border: 0px;}