.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 30px;
    border: 1px solid rgba(128, 128, 128, 0.249);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.hidden{
    visibility: hidden;

}



.container p {
    margin: 0;

}

.container span {
    color: red;
    font-size: 12px;
    padding-left: 10px;
}

.title span{
    font-size: 15px !important;
    text-align: center;
}
.checkTitle span{
    text-align: center;
    font-size: 15px !important;
}
.container ul {
    margin: 0;
    color: gray;
    padding: 20px;
    padding-top: 10px;


}

.container li {
    list-style-type: none;
    position: relative;
}

.container li::before {
    content: '•';
    /* 불릿 대신 커스텀 불릿 사용 */
    font-size: 15px;
    /* 불릿 크기 조절 */
    color: black;
    /* 불릿 색상 */
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
    /* 수직 중앙 정렬 */
}

.header {
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 10px;
    padding-top: 20px;
}

.contents {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.title {
    font-weight: 600;
    padding-bottom: 5px;
}

.input {
    display: flex;
    position: relative;
}

.input div:nth-child(1) {
    flex: 1;
}


.cancel {
    background-color: gray;
    border: none;
    color: white;
    border-radius: 50%;
    position: relative;
    right: 40px;
    top: 15px;
    height: 30px;
    width: 20px;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.contents input {  
    width: 94%;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px !important;
    height: 50px;
    border: 1px solid rgba(128, 128, 128, 0.249);
}

.select {
    width: 96.1%;
    height: 54px;
    border-radius: 20px;
    padding-left: 10px;
    border: 1px solid rgba(128, 128, 128, 0.249);
    padding-right: 10px !important;
    appearance: none;

}
.icon {
    background-color: white;
    border: none;
    position: relative;
    right: 40px;
    top: 10px;
    width: 10px;
    height: 30px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 700;
    pointer-events: none;
}
.fileBtn {
    background-color: white;
    border: none;
    position: relative;
    right: 40px;
    top: 10px;
    height: 30px;
    width: 20px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    align-items: center;
    z-index: 700;
}

.none {
    width: 94%;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px !important;
    height: 50px;
    border: 1px solid rgba(128, 128, 128, 0.249);
    background-color: white;
    pointer-events: none;

}

.file {
    display: none;

}




.line {
    padding-top: 20px;
    border-top: 10px solid rgba(128, 128, 128, 0.058);
    border-bottom: 10px solid rgba(128, 128, 128, 0.058);
}

.fileList {
    gap: 15px;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.fileContent {
    display: flex;
}

.fileInfo {
    display: flex;
    border: 1px solid rgba(128, 128, 128, 0.596);
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    gap: 10px;
}
.fileName{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    gap: 10px;
}
.size{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    gap: 10px;
    
}
.fileX{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.fileX::before {
    content: '|';
    /* 불릿 대신 커스텀 불릿 사용 */
    font-size: 20px;
    /* 불릿 크기 조절 */
    color: rgba(128, 128, 128, 0.466);
    /* 불릿 색상 */
    position: absolute;
    left: -4px;
    top: 40%;
    transform: translateY(-50%);
    /* 수직 중앙 정렬 */
}

.fileDeleteBtn {
    border: none;
    background-color: white;
    font-size: 20px;
    color: gray;
    width: 30px;
    cursor: pointer;
}


.checkTitle {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    font-weight: 600;
    border-bottom: 2px solid rgba(128, 128, 128, 0.537);
    padding-bottom: 10px;
}

.checkTitle input {
    width: 40px;
    height: 30px;

}

.check {
    display: flex;
    flex-direction: column;

}

.check1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding-left: 15px;
}


.check2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding-left: 15px;
}
.confirm{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    pointer-events: none;
    border-radius: 15px;
}
.confirm button{
    width: 100%;
    height: 65px;
    border: none;
    background-color: rgba(128, 128, 128, 0.366);
    color: white;
    pointer-events: none;
    font-size: 20px;
    font-weight: 600;
    border-radius: 15px;
}

.confirmReverse{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    border-radius: 15px;
}
.confirmReverse button{
    width: 100%;
    height: 65px;
    border: none;
    background-color: blueviolet;
    color: white;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    border-radius: 15px;
}

