.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.container button {
    width: 50px;
    height: 50px;

}
.title{
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    border-bottom: 1px solid rgba(128, 128, 128, 0.493);
}
.contents{
    display: flex;
    flex-direction: column;
    flex: 10;
}



.room {
    display: flex;
    gap: 15px;
}

.room:hover {
    background-color: rgba(10, 252, 18, 0.162);
}

.imgContainer {
    flex: 0.5;
    display: flex;
    flex-direction: column;
}

.imgList {
    display: flex;
    flex: 1;
}

.avatartOne{
    width: 40px;
}
.avatar {
    width: 20px;
    height: 100%;
}

.message {

    flex: 3;

}

.name {
    font-family: 'Freesentation-9Black';
    display: flex;
    gap: 30px;
    font-size: 18px;
}

.size {
    font-size: 13px;
    color: gray;
    flex: 1;
}

.bookmark {
    color: dodgerblue;
    flex: 1;
}


.content {
    color: gray;
    font-size: 12px;
    flex: 1;
    font-family: 'ONE-Mobile-POP';
}

.write_date {
    color: gray;
    font-size: 10px;
    display: flex;
}

.alarm {
    display: flex;
    color: red;
}

.line {
    width: 350px;
    border: 1px solid rgba(30, 143, 255, 0.31);
}

.unread {
    flex: 1;
}

.unread span {
    font-size: 12px;
    border: 1px solid black;
    border-radius: 15px;
    padding: 7px;
    background-color: red;
    color: white;
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
}



@font-face {
    font-family: 'Freesentation-9Black';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-9Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'ONE-Mobile-POP';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff') format('woff');
    font-style: normal;
}