.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    padding-left: 10px;
    padding-right: 10px;
}
.container p{
    margin: 0;
}

.title{
    flex: 1;
    align-items: center;
    font-weight: 700;
    font-size: 25px;
    color: rgb(162, 70, 238);
    display: flex;
    border-bottom: 1px solid rgba(128, 128, 128, 0.493);
}
.contents{
    display: flex;
    flex-direction: column;
    flex: 10;
    gap: 10px;
    overflow: auto;
   
}

.room {
    border-radius: 20px;
    min-height: 100px;
    display: flex;
    gap: 10px;
    width: 100%;
   
}

.profile {
    display: flex;
    flex: 4;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    background-color: rgb(49, 61, 78);
    border-radius: 20px;
}
.profileClick{
    display: flex;
    flex: 4;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    background-color:white;
    border: 1px solid  rgb(49, 61, 78);
    border-radius: 20px;
}
.profileClick .content{
    color: black;
}
.profileClick .write_date{
    color: black;
}

.profile:hover {
  transform:scale(1.025);
}

.body{
    display: flex;
    flex: 4;
    flex-direction: column;
}

.name {
    display: flex;
    flex: 1;
}

.username{
    display: flex;
    flex: 8;
    color: rgb(162, 70, 238);
    font-weight: 600;
    align-items: center;
    justify-content: flex-start;
}

.alarm {
    display: flex;
    color: red;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.bookmark {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: dodgerblue;
    width: 10px !important;
}
.icon{
    width: 100%;
    height: 20px;
}

.message{
    display: flex;
    flex: 1;
    font-size: 14px;
}
 

.content {
    color: white;
    flex: 4;
}

.unread {
    flex: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.unread span {
    font-size: 12px;
    color: red;
    border-radius: 15px;
    padding: 7px;
    background-color: white;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.write_date {
    flex: 4;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}






.avatar{
    flex: 1;
    border: 1px solid gray;
    border-radius: 50%;
    
}
.avatar img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}



.line {
    width: 50%;
    border: 1px solid rgba(30, 143, 255, 0.31);
}

.editor{
    flex: 1;
    display: flex;
    padding-bottom: 10px;
}


