/* div{
    border: 1px solid black;
} */

.container{
    display: flex;
    width: 100%;
    height: 100%; /*임시값*/
}

/*===========왼쪽 부분========*/
.left{
    flex:7;
    height: 100%;
    /* border: 1px solid black; */
    padding-left: 10px;
}

.header_data{
    display: flex;
}

.header_data_left{
    display: flex;
    flex-direction: column;
    flex:3.5;
}

.header_data_left img{
    border: 1px solid black;
    height: 510px;
    width: 320px;
    margin-bottom: 10px;
}

.likes{
    text-indent: 10px;
    height: 30px;
}

.header_data_right{
    display: flex;
    flex-direction: column;
    flex:6.5;
}

.datas{
    display: flex;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 18px;
}

.data_title{
    flex:3;
    text-indent: 40px;
}

.data_content{
    flex:7;
    text-indent: 20px;
}

.data_sub_content{
    margin-top: 5px;
    margin-bottom: 5px;
}

.btns{
    margin-top: 30px;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-around;
    width: 60%;
}

.btns button{
    border: 0px;
    border-bottom: solid rgba(0, 0, 0, 0);
    color: blueviolet;
    background-color: rgba(250, 235, 215, 0);
    font-size: 15px;
    font-weight: 700;
}

.btns button:hover{
    border: 0px;
    border-bottom: solid blueviolet;
    cursor: pointer;
    font-weight: 600;
}

.detail_page{
    /* border: 1px solid black; */
    margin-left: 15px;
    width: 95%;
}



/*===========오른쪽 부분========*/
.right{
    flex:3;
    min-height: 100vh;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bubble {
    position: sticky;
    top: 120px; /* 상단에서 50px 지점에 고정 */
    width:85%;
    height: 540px;
    /* background-color: lightblue; */
    margin: 10px;
    padding: 15px;
    border: 1px solid black;
    border-radius: 10px;
    /* 기타 스타일 */
    margin-bottom: 200px;
}

.up_btn{
    position: fixed;
    bottom: 5vh;
    right: 16vw;
    width: 60px;
    height: 50px;
    background-color: rgba(211, 211, 211, 0.305);
    border-radius: 10px;
    border: 1px solid lightgray;
}

.calendar{
    height: 325px;
    width: 95%;
    margin-top: 15px;
    display: flex;
    justify-content: center; /* 캘린더를 중앙에 배치 */
}

.time{
    display: flex;
    height: 50px;
    width: 100%;
    justify-content: start;
}

.time_bubble{
    margin-top: 10px;
    height: 40px;
    width: 40%;
    border:1px solid blueviolet;
    border-radius: 10px;
    color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.selected{
    background-color: blueviolet;
    color: white;
}

.seats{
    margin-top: 15px;
    font-size: 12px;
    color: gray;
    text-indent: 13px;
}

.book{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.book button{
    height: 45px;
    width: 90%;
    background-color: blueviolet;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    border: 0px;
}

.book button:hover{
    cursor: pointer;
    background-color: blueviolet;
    /* color: white; */
}

.openDate{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.openDate h3{
    width: 100%;
} 

.openDateData{
    border: 1px solid black;
    width: 80%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-weight: 700;
    color: blueviolet;
    background-color: rgba(137, 43, 226, 0.167);
}