.container {
    width: 100%;
    height: 100vh;
    max-height: 300px;
    /* top:1000px; */
    /* background-color: gray; */
    border-top: 2px solid rgb(189, 188, 188);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.topTxt {
    flex: 3;
    display: flex;
    padding: 20px;
    width: 70vw;
  
}

.topTxt div {
    flex: 1;
    padding-top: 20px;
    
}

.tapInfoTitle {
    font-weight: bold;

}

.tapInfoSubTitle {
    font-size: 14px;
    color: rgb(149, 149, 149);
}

.botTxt {
    font-size: 14px;
    color: rgb(200, 200, 200);
    /* padding: px; */
    padding-left: 20px;
    padding-right: 20px;
    width: 70vw;
    padding-bottom: 30px;
}

.botTxt {
    flex: 2;
}