/* SaleApply.module.css */

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  /* background-color: #f9f9f9; */
  /* border-radius: 8px; */
  /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 그림자 효과로 컨텐츠 강조 */
}

.header h2 {
  text-align: center;
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
  font-weight: bold;
}

.tableWrapper {
  margin-top: 20px;
  width: 100%;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  font-size: 16px;
  color: #555;
}
.Gap {
  display: inline-block;
  width: 20px; 
}
.table input[type="text"],
.table input[type="number"] {
  width: 60%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  color: #333;
  transition: border-color 0.3s ease;
}

.table input[type="text"]:focus,
.table input[type="number"]:focus {
  border-color: #007bff; /* 포커스 시 테두리 색상 변경 */
}

.table button {
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.table button:hover {
  background-color: #0056b3; /* 호버 시 버튼 색상 변경 */
}

.table ul {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

.table ul li {
  padding: 10px;
  background-color: #f0f0f0;
  margin-bottom: 8px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.table ul li:hover {
  background-color: #e0e0e0;
}

.btn_form {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.btn_submit,
.btn_cancel {
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 10px;
}

.btn_submit {
  background-color: #862ca1;
  color: white;
}

.btn_submit:hover {
  background-color: #5b1b6e;
}

.btn_cancel {
  background-color: #969495;
  color: white;
}

.btn_cancel:hover {
  background-color: #7a7879;
}

