.container{
    width: 100%;
}
/* .container *{
    border: 1px solid black;
} */
.tableWrapper{
    width: 100%;
}

.tableWrapper .table{
    width: 100%;
}
.table td{
    border-bottom: 1px solid #ddd;
}
.table tr:nth-child(2){
    height: 300px;
}
.search {
    width: 500px;
    height: 50px;
    border-radius: 50px;
    border: none;
    position: relative;
}

.search input {
    width: 100%;
    height: 95%;
    border-radius: 0px;
    border: none;
    border: 1px solid #aaa;
    padding: 10px;
    padding-right: 40px;
}

.faMagnifyingGlass {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
}
