/* .container{
    width: 100%;
    height: 100%;
} */
.container{
    /* width: 100%;
    height: 100%; */
    flex-grow: 1; /* 남은 공간을 채움 */
    width: calc(100% - 250px); /* 전체 너비에서 sideMenu 너비를 제외 */

}