.container{
    width: 100%;
    height: 100%;
}


/* ========= 가격 CSS ============== */

.main_left_price_box{
    /* border: 1px solid black; */
    height: 22%;
    margin-top: 30px;
    margin-left: 30px;
    width: 91%;
}

.main_left_price_box h3{
    margin-bottom: 10px;
}

.price_box_header{
    height: 35px;
    background-color: rgb(155, 131, 181);
    border-radius: 5px 5px 0 0;
    text-indent: 10px;
    display: flex;
    align-items: center;
    width:100%;
}

.price_box_content{
    display: flex;
    border: 1px solid lightgray;
    height: 35px;
    align-items: center;
    text-indent: 10px;
}

.content1{flex:2.5; border-right: 1px solid lightgray;}
.content2{flex:3.5; border-right: 1px solid lightgray;}
.content3{flex:2; border-right: 1px solid lightgray;}
.content4{flex:2; border-right: 0px;}

.content4 select{
    width: 100px;
}

/* ========= 쿠폰 CSS ============== */
.main_left_coupon_box{
    /* border: 1px solid black; */
    height: 30%;
    margin-top: 30px;
    margin-left: 30px;
    width: 91%;
}

.coupon_box_content{
    border: 1px solid lightgray;
    height: 240px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    /* margin-left: 20px; */
}

.coupon_list{
    margin: 15px 0 0 20px;
}

.disabledText{
    text-decoration: line-through;
    color: lightgray;
}