.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.body{
    display: flex;
}
.menu{
    display: flex;
    flex-direction: column;
}
.contents{
    display: flex;
    flex-direction: column;
}