.container {
    width: 600px;
    /* height: 1600px; */
    /* border: 1px solid black; */
    margin: auto;
    display: flex;
    flex-direction: column;
}

.container span {
    color: #ff322f;
    font-size: 14px;
}

.title {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}


.title img {
    width: 100px;
    height: 40px;
}

.signConts {
    flex: 8;
    /* background-color: beige; */
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 40px;
}

.signCont {
    flex: 1;
    /* border-bottom: 3px solid rgb(235, 235, 235); */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* gap: 10px; */
    margin-top: 20px;
    /* height: 80px; */
}

.genderBox {
    display: flex;
    align-items: center;
    gap: 3px;
}

.subTitle {
    font-size: 15px;
    font-weight: bold;
    color: #656565;
    margin-bottom: 10px;
}

.inputTxt {
    flex: 5;
    /* background-color: aqua; */
    height: 80%;
    border-radius: 10px;

}


.inputCode {
    margin-top: 20px;
}

.codeConfirm {
    /* background-color: #5a21c8; */
    border: 3px solid #5a21c8;
    border-radius: 20px;
    padding: 6px 10px;
    margin-top: 10px;
    display: flex;
    color: #5a21c8;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    background-color: white;
}

.inputTxt input {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    padding-left: 10px;
    /* background-color: rgb(232, 240, 254); */
    border: 2px solid rgb(228, 228, 228);
}

.inputZipCode {
    display: flex;
    align-items: center;

}

.inputZipCode input {
    flex: 8;
    height: 40px;
    border-radius: 10px;
    padding-left: 10px;
    /* background-color: rgb(232, 240, 254); */
    border: 2px solid rgb(228, 228, 228);
}

.addressBtn {
    flex: 2;
}

.inputTxt input:focus {
    outline: none;
    border: none;
    /* 필요 시 추가 */
    border: 2px solid #5a21c8;
    box-shadow: 0px 4px 8px rgba(90, 33, 200, 0.3);
}

.checkBox {
    display: flex;
    align-items: center;
    gap: 5px;
}

.agree {
    flex: 1;
    /* background-color: azure; */
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    margin-top: 20px;
}

.agree div {
    flex: 1;
}


.btn {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    height: 80px;
}

.btnPass {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
}

.btn button {
    width: 70%;
    height: 60px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 50px;
    border: none;
    color: white;
    background-color: #bfbfbf;
    cursor: pointer;
    font-size: 22px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.btnPass button {
    width: 70%;
    height: 80px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 50px;
    border: none;
    color: white;
    background-color: #5e20d2;
    cursor: pointer;
    font-size: 22px;
    margin-top: 100px;
    margin-bottom: 100px;
}


.emailBtn {
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    border: none;

}

.checkBtn {
    border: 2px solid #a2a2a2;
    margin-left: 10px;
    padding: 6px 10px;
    border-radius: 20px;
    color: #a2a2a2;
    background-color: white;
    font-size: 12px;
    font-weight: bold;
    pointer-events: none;
}

.addressBtn {
    height: 40px;
    border: 10px;
    /* border: 5px solid; */
    border-radius: 8px;
    background-color: #434343;
    cursor: pointer;
    color: white;
}

.checkPassBtn {
    margin-left: 10px;
    padding: 6px 10px;
    font-size: 12px;
    font-weight: bold;

    background-color: #5a21c8;
    border: 2px solid #5a21c8;
    border-radius: 20px;
    color: white;
    cursor: pointer;
}

.container input[type="radio"] {
    appearance: none;
    /* 기본 브라우저 스타일 제거 */
    width: 20px;
    height: 20px;
    border: 2px solid #5a21c8;
    /* 외곽선 색상 */
    border-radius: 50%;
    /* 원형으로 만들기 */
    outline: none;
    cursor: pointer;
    position: relative;
}

.container input[type="radio"]:checked {
    background-color: #5a21c8;
    /* 선택된 상태의 배경색 */
    border: 2px solid #5a21c8;
}

.container input[type="radio"]:checked::before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background-color: white;
    /* 내부 원 색상 */
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img {
    width: 100px;
    height: 100px;
}