.container{
    position: fixed;
    width: 100px; /* 사이드바의 너비 */
    overflow: auto;
   background-color: white;
    color: black;
    padding: 10px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
    display: none;
    flex-direction: column;
    gap: 10px; 
    z-index: 9999;
    border-radius: 10px;
}
.content{
    font-size: 15px;
    cursor: pointer;
}
.content:hover{
    color: red;
    border: 1px solid red;
}