.container{
    width: 100%;
    height: 100%;
    /* border: 1px solid; */
}

.total_stars{
    display: flex;
    align-items: center;
    height: 35px;
}

.review_header{
    margin-top: 30px;
    display:flex;
    width: 100%;
    height: 100%;
    /* height: 30px; */
    text-indent: 10px;
}

.header_text{
    flex:4;
}

.header_search{
    display: flex;
    justify-content: end;
    margin-right: 15px;
    flex: 6;
}

.search_box{
    display:flex;
    border: 1px solid black;
}

.header_search select{
    width: 75px;
}

.search_box input, .search_box button{
    border: 0px;
    text-indent: 5px;
}

.search_box button{
    text-indent: 0px;
    background-color: rgba(0,0,0,0);
}

.search_box button:hover, .orderBtns button:hover{
    cursor: pointer;
}
.orderBtns{
    width: 98%;
    height: 30px;
    display: flex;
    justify-content: end;
    margin-bottom: 10px;
}

.orderBtns button{
    font-weight: 700;
    background-color: rgba(0,0,0,0);
    border: 0px;
    font-size: 14px;
}

.review_write_box{
    /* background-color: rgb(204, 166, 204); */
    border: 1px solid gray;
    border-radius: 10px;
    height: 100%;
    padding: 20px;
}

.review_write_box div{
    margin-bottom: 5px;
}

.write_header{
    display: flex;
}

.write_header select{
    width: 300px;
}


.write_title{
    height: 20px;
    width: 93%;
    margin-bottom: 5px;
    border: 1px solid lightgray;
}

.review_write_box textarea{
    width:98%;
    height: 100px;
    resize: none;
    overflow-y: auto;
    border: 1px solid lightgray;
    text-indent: 5px;
    padding-top: 5px;
}

.write_btn{
    display: flex;
    justify-content: end;
    margin-right: 12px;
    margin-bottom: 0px;
}

.write_btn button{
    border-radius: 5px;
    background-color: blueviolet;
    color: white;
    border: 0px;
    width: 110px;
    height: 30px;
}

.reviews{
    border:1px solid lightgray;
    border-radius: 10px;
    margin-top: 20px;
    height: 100%;
    width: 97%;
    background-color: rgba(211, 211, 211, 0.252);
    padding: 12px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}

.review_box{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.content{
    width: 100%;
    height: 100%;
}

.review_output_title{
    height: 30px;
    font-weight: 700;
    font-size: 18px;
}


.review_output_content{
    height: 90px;
    overflow-y: auto;
}

/* 스크롤 숨기는 옵션 */
.review_output_content::-webkit-scrollbar {
    display: none;
  }

.review_output_content p{
    margin: 0px;
}

.empty{height: 30px; width: 100px;}

/*====================================================*/

.pagination {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin-top: 30px;
    justify-content: center;
    height: 50px;
  }
  
  .pagination li {
    cursor: pointer;
    margin: 0 5px;
  }
  
  .pagination a {
    text-decoration: none;
    color: blueviolet;
    padding: 6px 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .pagination a:hover {
    background-color: #f8f9fa;
  }
  
  .pagination .active a {
    background-color: blueviolet;
    color: white;
  }
  .next {
    display: none;
  }
  .previous {
    display: none;
  }