.container{
    width:100%;
    height:100%;
    /* padding: 0px 100px; */
    /* background-color: beige; */
}
.header{
    padding: 30px 50px 10px 50px;
}

/* .container *{border: 1px solid black;} */

.btns{
    margin-top: 30px;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    width: 60%;
}

.btns button {
    border: 0px;
    border-bottom: 2px solid transparent;
    color: purple;
    background-color: transparent;
    font-size: 15px;
    font-weight: 700;
    padding: 10px 20px;
    margin-right: 20px;
    transition: all 0.3s ease;
}

.btns button:hover{
    border: 0px;
    border-bottom: solid purple;
    cursor: pointer;
    font-weight: 600;
    background-color: transparent; 
}
.btns button.active{
    border-bottom: solid purple;
}

/* 구분선 스타일 추가 */
.divider {
    width: 95%;
    margin: 20px auto;
    border-bottom: 1px solid #ccc; /* 심플한 회색 구분선 */
    opacity: 0.5; /* 구분선의 투명도 조절 */
  }

.detail_page{
    /* border: 1px solid black; */
    margin-left: 15px;
    width: 95%;
}