.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

}

.title {
    display: flex;
    padding: 10px;
    border-bottom: 2px solid black;
}

.contents {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icon {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}


.contentTitle {
    flex: 1;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.contentTitle span {
    color: red;
    white-space: pre;
}

.contentDetail {
    font-size: 10px;
    color: gray;
    flex: 1;
}

.inputDiv {
    flex: 1;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    padding: 20px;
}

.id {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

}

.id div:nth-child(1) {
    flex: 1;
    color: gray;
}

.id div:nth-child(2) {
    flex: 5;
}

.pw {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

}

.pw div:nth-child(1) {
    flex: 1;
    color: gray;
}

.pw div:nth-child(2) {
    flex: 5;
    display: flex;
}

.pw div:nth-child(2) div:nth-child(1){
    flex: 5;
    display: flex;
}

.pw div:nth-child(2) div:nth-child(2){
    flex: 1;
    display: flex;
}

.pw input {
    width: 100%;
    height: 30px;
    border-radius: 15px;
    border: 1px solid gray;

}

.pwDetail {
  
    width: auto;
    color: red;
    left: 80px;
    position: relative;
}
.pwDetailOk{
    width: auto;
    color: blue;
    left: 80px;
    position: relative;
}

.pwCancel {
    background-color: gray;
    border: none;
    color: white;
    border-radius: 50%;
    position: relative;
    right: 25px;
    top: 10px;
    width: 15px;
    height: 15px;
    font-size: 7px;
    justify-content: center;
    align-items: center;
    display: flex;
    align-items: center;
    z-index: 999;
}

.pwWarning{
    display: flex;
    color: gray;
    font-size: 12px;
    padding: 50px;
    padding-top: 0;
    padding-bottom: 0;
}

