.container {
    width: 300px;
     /* 사이즈 줄일 때 사이즈가 줄지 않게 설정  - admin.module.css 에도 설정*/
     flex-shrink:0;
    /* background-color: #333; */
    /* color: #fff; */
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .menuContainer {
    padding: 20px;
    flex: 1;
  }
  
  .menuItem {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #444;
    /* background-color: pink; */
    height: 30px;
  }
  
  .icon {
    margin-right: 10px;
  }
  
  .menuTitle {
    flex: 1;
  }
  
  .dropdownToggle {
    margin-left: auto;
  }
  
  .submenuContainer {
    padding-left: 20px;
    /* background-color: #444; */
  }
  
  .submenuItem {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #555;
    height: 30px;
    /* background-color: orange; */
  }
  
  /* .submenuItem:hover {
    background-color: #555;
  } */
  