.container {
    width: 250px;
    background-color: #333;
    color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .menuContainer {
    padding: 20px;
    flex: 1;
  }
  
  .menuItem {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #444;
  }
  
  .icon {
    margin-right: 10px;
  }
  
  .menuTitle {
    flex: 1;
  }
  
  .dropdownToggle {
    margin-left: auto;
  }
  
  .submenuContainer {
    padding-left: 20px;
    background-color: #444;
  }
  
  .submenuItem {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #555;
  }
  
  .submenuItem:hover {
    background-color: #555;
  }
  