.caroucel{
    background-color: rgba(197, 9, 172, 0.696);
    color: rgb(255, 255, 255);
    /* border: 1px solid black; */
    height: 42px;
    width: 42px;
    border-radius: 100px;
    border: 0px;
}

.caroucel:hover{
    cursor: pointer;

}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4); /* 오버레이 색상과 투명도 */
    z-index: 0; /* 내용 위에 오버레이를 배치 */
  }

.card{
    position: relative;
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    /* border: 1px solid black;  */
    justify-content: end;
    padding: 13px;
    border-radius: 5px;
}

.card h2{
    z-index: 1;
}

.card p{
    margin: 5px;
    z-index: 1;
}

.card:hover{
    cursor: pointer;
}

.poster{
    width: 100%;
    height: 70%;
    margin-bottom: 5px;
}

.poster img{
    width: 100%;
    height: 100%;
    border: 1px solid black;
}