.card{
    display: flex;
    flex-direction: column;
    width: 230px;
    height: 300px;
    border: 1px solid black;
    justify-content: end;
    padding: 13px;
    border-radius: 5px;
}

.card p{
    margin: 5px;
}

a{
    color: black;
    text-decoration: none;
    display: inline-block;
    transition: transform 0.3s ease; /* 애니메이션 부드럽게 */
}

a:hover{
    cursor: pointer;
    border: 1px solid black;
    font-weight: 700;
    border-radius: 5px;
}